@import '../../styles/variable';

.top_add_area {
    width: 100%;
    background: #f2f3f3;
    padding: 30px 0px 0px 0px;
    display: flex;
    justify-content: center;

    .add_image {
        width: 100%;
        margin: 0px auto 0px auto;
        background: #f2f3f3;
        display: flex;
        justify-content: center;
        align-items: center;

        .image {         
            width: 100%;
            margin: 0px 5px !important;
            height: 96px;
            max-width: 970px;
            background: #f2f3f3;
        }
    }
}
.path_box{
    width: 100%;
    background: #f2f3f3;
    padding: 40px 0px;
    box-sizing: border-box;
    font-size: 14px;
    color: #434343;
    .path_text_box{
        width: 100%;
        max-width: 1000px;
        box-sizing: border-box;
        margin: auto;
        padding: 0px 10px;
        .path_text{
            margin: 10px 0px;
        }
    }
}

.all_new_bike_main {
    width: 100%;
    max-width: 1000px;
    box-sizing: border-box;
    margin: 0px auto !important;
    padding: 10px 5px 10px 5px !important;

    .description_box {
        width: 100%;
        padding: 10px 0px;
        font-size: 13px;
        box-sizing: border-box;

        .card_main {
            box-sizing: border-box;
            width: 50px;
            height: 50px;
            margin: auto;
            padding: 0px !important;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;

            .card_image {
                width: 70px !important;
                // @media (max-width:768px) {
                //     width:40px !important;
                //     height: 40px !important;
                //     border: 1px solid #000;
                // }
            }
        }

        .descriptionPara {
            font-size: 14px;
            width: 100%;
            // text-align: left; 
            box-sizing: border-box;
            margin: auto;
            padding: 10px 10px !important;

            @media (max-width:768px) {
                text-align: justify;
            }
        }

        .buttons_box {
            display: flex;
            justify-content: center;
            align-items: center;

            .show_more_button {
                font-size: 10px;
                border-radius: 0px;
                background: white;
                margin: auto !important;
                padding: 0px !important;
            }
        }
    }

    .grid_sectiion_box {
        display: flex;
        justify-content: space-between;
        padding: 5px;

        @media (max-width:768px) {
            padding: 0px !important;
            justify-content: left;
        }

        .card_grid {
            display: flex;
            flex-wrap: wrap;
            justify-content: left !important;
            flex-direction: row;
            padding: 0px 0px 0px 4px !important;
            row-gap:20px;
            @media (max-width:768px) {
                justify-content: left;
                column-gap: 10px;
                row-gap: 10px !important;
                flex-direction: row !important;
                flex-wrap: wrap;
            }

            .heading {
                width: 100%;
                text-align: center;
                font-size: 20px;
                font-weight: bolder;
                @media (max-width:768px) {
                    font-size: 16px;
                }
            }
        }
    }

    .Dealers_grid_box {
        display: inline-block;
        justify-content: center;

        .heading {
            width: 100%;
            text-align: center;
            font-size: 16px;
            font-weight: bolder;
            padding: 5px 0px 10px 0px !important;
            border-bottom: 1px solid #d7d2d2;
        }

        .Dealers_card {
            margin: 10px 0px 30px 0px !important;
            display: flex;
            padding: 10px 10px 10px 10px !important;
            flex-wrap: wrap;
            justify-content: left;
            column-gap: 10px;
            box-shadow: 0px 0px 5px rgb(228, 225, 225);

            .card_main {
                width: 95%;
                border: 1px solid #dfdada;
                margin: 5px 0px 5px 0px;
                height: 60px;
                display: flex;
                justify-content: left;
                flex-direction: row;
                text-align: left;
                padding: 0px 10px 0px 10px !important;
                align-items: center;

                .card_image {
                    width: 40px;
                    height: auto;

                    @media (max-width:768px) {
                        padding: 10px 0px 10px 0px;
                        width: 40px;
                    }
                }

                .card_text {
                    display: inline-block;
                    justify-content: center;
                    align-items: center;
                    padding: 0px !important;
                    margin: 0px !important;
                    width: 100%;

                    .card_title {
                        font-size: 12px;
                        font-weight: bold;
                        color: grey;
                        padding: 0px 0px 0px 10px;

                        @media (max-width:768px) {
                            font-size: 11px;
                        }
                    }

                    .card_location {
                        font-size: 12px;
                        font-weight: bolder;
                        color: black;
                        padding: 0px 0px 0px 10px;

                        @media (max-width:768px) {
                            font-size: 11px;
                        }
                    }
                }

                @media (max-width:768px) {
                    width: 45%;
                    height: 80px;
                    padding: 10px 0px 10px 0px !important;
                    flex-direction: column;
                    text-align: center;
                }
            }
        }

        .view_detail_btn {
            color: $primary_two;
            margin-top: 10px;
            border-radius: 1px;
            padding: 0px 0px;
            width: 100%;
            font-size: 13px;
            border: 1px solid $primary_two;
            background-color: transparent;

            .Link_tag{
                padding: 3px 0px;
                width: 100%;
                text-decoration: none;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
        
        @media (max-width:768px) {
            margin-top: 40px;
            justify-content: center !important; 
            // flex-wrap: wrap;

            .view_detail_btn {
                padding: 2px 6px;
                margin:5px auto 0px auto !important;
                display: flex;
                justify-content: center;
                width: 80%;
            }
        }
    }

}

.load_main{
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .load_div{
        border: 1px solid #000;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;

    }
}
@media (max-width:768px) {
    .load_main{
        width: 100%;
        height: 50vh;
        display: flex;
        justify-content: center;
        align-items: center;
        .load_div{
            border: 1px solid #000;
            height: auto;
            display: flex;
            justify-content: center;
            align-items: center;
    
        }
    }
}

.no_data{
    width: 100%;
    padding: 30px 10px !important;
    box-sizing: border-box;
    text-align: center;
}