* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.section4_main {
    width: 100%;
    height: 100vh;
    background: rgba(203, 201, 201, 0.538);
    display: flex;
    justify-content: center;
    align-items: center;
    .container {
        width: 100%;
        height: auto;
        padding: 50px 0px;
        display: inline-block;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        .Section4-heading {
            display: flex;
            justify-content:space-between;
            align-items: center;
            padding: 0px 40px;
            .heading {
                font-size: 18px;
                font-weight: bold;
                color: black;
            }
            .btn {
                background: rgb(53, 128, 158);
                color: white;
            }
        }
        @media screen and (max-width:370px){
            .Section4-heading{
                padding: 0px 5px;
                .heading{
                    font-size: 14px;
                    font-weight: bold;
                }
                .btn{
                    background: rgb(53, 128, 158);
                    font-size: 14px;
                    padding: 5px;
                }
            }
        }
        .carousel-item {
            width: 100%;
            height: auto;
            padding: 5px 5px;
            .Grid {
                display: flex;
                padding: 5px;
                width: 100%;
                justify-content: space-around;
                row-gap: 10px;
                .Grid-boxes {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .images {
                        background: white;
                        width: 100px;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}