@import '../../styles/variable';
.main{
  width: 100%;
  padding: 0px;
  background: #f2f3f3;
  min-height: 50vh;
  @media (max-width:991px) {
    padding: 0px 10px !important;
  }
  @media (max-width:600px) {
    padding: 0px !important;
  }
  .usedBike_headingBpx{
    width: 100%;
    max-width: 1200px;
    padding: 0px 0px 0px 10px;
    margin: auto;
    @media (max-width:768px) {
      padding:10px 0px 0px 20px !important;
    }
    .headinh_sale {
      font-size: 24px;
      color: $primary_two;
      margin: 0px 0px -2px;
      font-weight: normal;
    }
    .path_text{
      font-size: 12px;
      color: #7b8397;
      margin: 0px 15px 0px 0px;
    }
  }
.all_bike_main {
  display: flex;
  padding: 0px 10px;
  width: 100% !important;
  max-width: 1200px;
  margin: auto;
  align-items: start;
  gap: 15px;

  .main_box {
    padding: 0px 10px !important;
    width: 100% !important;
    height: 100%;
    max-width: 800px;
    margin: 20px auto 0px auto;

    .navigation {
      max-width: 800px;
      height: 30px;
      background: white;
      border: 1px solid #e6e6e6;
      padding: 10px;
      margin: auto;
      position: relative;
      justify-content: space-between;
      margin-bottom: 20px;
      display: flex;
      align-items: center;

      @media (max-width:900px) {
        width: 95%;
      }

      .bike_text {
        font-size: 16px;
        float: left;
      }

      .swap_button_container {
        .swap_icon {
          font-size: 20px;
          cursor: pointer;
        }
      }
    }
  }

  .card_box_list {

    .long_card {

      display: flex;
      padding: 10px 0px !important;
      margin: 0px 0px 20px;
      background: white;
      border: 1px solid #e6e6e6;
      height: 150px;
      align-items: center;
      flex-wrap: nowrap;
      cursor: pointer;

      @media (max-width:600px) {
        height: auto !important;
        padding: 5px 0px !important;
      }

      // grid 1
      .bike_image_box {
          height: 123px;
          width: 185px;
          padding: 0px 10px;
          
          img {
            height: 100%;
            width: 100%;
            min-width: 180px;
            max-width: 200px;
          }
      }

      // grid 2
      .card_info {

        height: 148px;
        padding: 0px 10px;
        margin-top: 20px;
        margin-left: 10px;
          
          .card_title {
              max-width: 250px;
              font-size: 14px;
              padding: 0px;
              display: flex;
              align-items: center;
              color: $primary_two;
              width: 100%;
              text-overflow: ellipsis;
              white-space: nowrap;
              overflow: hidden;
             
              @media (max-width:768px) {
                font-size: 16px;
                width: 100%;
                max-width: 100%;
                padding: 5px 0px 4px 0px;
              }
          }
          
          .card_price_mobile {
            max-width: 150px;
            padding: 0px;
            width: 30%;
            display: flex;
            align-items: center;
            font-size: 18px;
            font-weight: bolder;
            color:  $primary_one;
          
            @media (min-width:600px) {
              display: none;
            }
          }
        

        .card_location {
          padding: 7px 0px 0px;
          font-size: 13px;
          color: #434343;
        }

        .bike_details {
          font-size: 13px;
          color: #434343;
          padding: 5px 0px 0px;
        }

      }

      // grid 3
      .price_section_desktop {
        display: flex;
        height: 148px;
        align-items: flex-start;
        margin-right: 10px;
        margin-top: 20px;
        white-space: nowrap;
        @media (max-width:600px) {
          display: none;
        }
        span {
          color: #1976d2;
          font-size: 16px;
        }
      }

    }
  }

  .viewMoreBtnContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px auto;

    .viewMoreBtn {
      padding: 10px 30px;
      background-color: $primary_two;
      color: #fff;
      font-size: 14px;
      border: none;
      cursor: pointer;
    }

    .viewMoreBtnDisabled {
      pointer-events: none;
    }

  }



  .add_area {
    width: 150px;
    // min-width: 100px;
    margin-top: 20px;
    background: white;
    color: rgb(0, 0, 0);

    @media (max-width:768px) {
      display: none;
    }
  }
}
}

