@import '../../styles/variable';
.usedbike_form_main {
    width: 100%;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    padding: 20px 10px 20px 10px !important;

    .form_container {
        width: 100%;
        box-shadow: 0px 0px 10px #cbcdcd;
        max-width: 450px;
        margin: 5px auto 5px auto;
        height: auto;
        padding: 0px !important;

        .form_heading {
            text-align: center;
            padding: 10px 0px;
            background: $primary_two;
            color: white;
            font-size: 20px;
            margin: 0px !important;
            font-weight: bolder;
        }

        .form_input_div {
            box-sizing: border-box;
            line-height: 20px !important;
            width: 100%;
            padding: 15px 10px 15px 10px !important;

            .inputs_label {
                color: #434343;
                font-size: 14px;
                font-weight: 500;
                padding: 5px 0px 0px 0px !important;
                cursor: pointer;
                width: 100%;
                margin: 10px 0px 0px 0px !important;
                box-sizing: border-box;
                letter-spacing: 1px;
            }

            .input_parent {
                width: 100%;
                margin: 3px 0px 10px 0px !important;
                box-sizing: border-box;

                .shop_input {
                    width: 100%;
                    outline: none;
                    box-sizing: border-box;
                    border: 1px solid #d2d2d2;
                    padding: 10px 0px 8px 7px;
                }

                .shop_input::placeholder {
                    letter-spacing: 1px;
                    font-size: 12px;
                    color: #c3c1c1;
                }
            }

            .address_parent {
                width: 100%;
                box-sizing: border-box;
                margin-bottom: 5px;
                padding: 0px 0px 0px 0px !important;

                .address_area {
                    width: 100%;
                    max-width: 575px;
                    min-width: 100px;
                    box-sizing: border-box;
                    height: 80px !important;
                    max-height: 80px !important;
                    border: 1px solid #d2d2d2;
                    outline: none;
                    padding: 5px 3px 5px 10px !important;
                }
            }

            .dropdown_div,
            .dropdown_div2 {
                display: flex;
                gap: 10px;
                margin-bottom: 5px;

                .dropdown_main:nth-child(1) {
                    width: 100%;
                }

                .dropdown_main2:nth-child(1) {
                    width: 100%;
                }

                .section_main {
                    border: 1px solid #d2d2d2;
                    outline: none;
                    width: 100%;
                    margin: 3px 0px 10px 0px !important;
                    padding: 10px 0px 8px 7px;


                    .drop_option {
                        background: #f2f2f2 !important;
                        color: black;
                        font-size: 12px;
                        border: 1px solid #d2d2d2;

                    }
                }
            }

            .submit_button {
                padding: 6px 10px;
                margin:5px auto 7px auto;
                border: none;
                display: flex;
                background: $primary_two;
                font-size: 18px;
                font-weight: bold;
                color: white;
                border-radius: 5px;
                cursor: pointer;
            }
        }
    }
}