.main {
    width: 100%;
    display: flex;
    align-items: center;
    padding:0px 0px !important;
    box-sizing: border-box;
    flex-direction: column;


    .card_section {
        width: 100%;
        margin: 0px;
        padding: 0px !important;
        box-sizing: border-box;
        max-width: 800px;
        display: flex;
        flex-direction: column;
    }
}