@import '../../styles/variable';
.shop_header_main {
    width: 100%;
    height: auto;
    display: flex;
    background: white;
    box-sizing: border-box;
    padding: 4px 10px !important;
    justify-content: center;
    column-gap: 3.5rem;
    @media (max-width:768px){
        padding: 2px 20px !important;
        justify-content: space-between;
    }
    .menu_button {
        color: grey;
        display: none;
        font-size: 19px;

        @media (max-width:768px) {
            display: flex;
            justify-content: left;
        }
    }
    .logo_side {
        display: flex;
        justify-content: center;
        align-items: center;


        .logo {
            width: 100px;

            .logo_image {
                cursor: pointer;
                width: 100%;
            }
        }
    }

    .nav_link_box {
        width: 100%;
        max-width: 800px;
        font-size: 16px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
        box-sizing: border-box;
        padding: 0px !important;
        color: #121212bf;
        display: flex;
        @media (max-width:768px) {
            display: none;
        }

        .Link_text {
            padding: 12px 8px;
            height: auto;
            cursor: pointer;
            color: #121212bf;
            display: flex;
            align-items: center;

            .nav_link_in {
                font-size: 16px;
                padding: 0px 2px 0px 4px !important;
                margin: 0px;
            }
            .nav_link_in:hover {
                color: black;
            }
        }
    }

    .nav_icons_box {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 5px;
        @media (max-width:768px) {
            gap: 2px;
            justify-content: center;
        }
        .nav_icons{
            padding: 0px 5px !important;
            display: flex;
            justify-content: center;
            align-items: center;
            @media (max-width:768px) {
                padding: 0px 1px !important;
                justify-content: center;
            }
            .icons{
                color: #121212bf;

            }
                &:nth-child(2){
                    .icons{
                        @media (max-width:768px) {
                            display: none;
                        }
                    }
                }
        }
    }
      
}