@font-face {
    font-family: 'Lato';
    src: url('/fonts/Lato-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'LatoBold';
    src: url('/fonts/Lato-Bold.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

.main{
    padding: 5px 0px !important;
    width: 100%;
    max-width: 300px;
    margin: auto;

    .heading{
        font-family: 'LatoBold';
        font-size: 22px;
        margin: 0px;
        box-sizing: border-box;
        padding: 5px 0px ;
    }
}