@font-face {
    font-family: 'Lato';
    src: url('/fonts/Lato-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'LatoBold';
    src: url('/fonts/Lato-Bold.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

.main{
    border: 1px solid #b2b1b1ce;
    border-radius:10px;
    background: rgba(245, 245, 245, 0.763);
    box-sizing: border-box;
    padding: 5px 10px 10px 10px !important;
    width: 100%;
    max-width: 310px;
    margin:0px auto;
 
    .heading{
        color: #333333;
        font-family: 'Lato';
        font-size: 24px;
        margin: 0px 0px 10px 0px;
        border-bottom: 1px solid rgba(155, 155, 155, 0.547);
        box-sizing: border-box;
        padding: 5px 0px ;
    }
}