.main {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    gap: 2px;

    .category_main,
    .subcatgegory {
        width: 100%;
        padding: 8px 0 !important;

        .catgegory_select,
        .subcatgegory_select {
            width: 100%;
            box-sizing: border-box;
            border: 1px solid #cfdde8;
            outline: none;
            padding: 10px 12px !important;
            border-radius: 10px;
            font-size: 0.84rem;
            color: #243746;
            background: #f8fbfe;
        }
    }
}
