@import '../../styles/variable';

@font-face {
  font-family: 'LatoBold';
  src: url('/fonts/Lato-Bold.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: url('/fonts/Lato-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

.login_icon {
    display: flex;
    align-items: center;
    font-size: 10px;
    margin-right: 15px;
    cursor: pointer;
    font-family: 'Lato';
    padding: 14px 0px 0px 0px !important;
    .icons {
        font-size: 25px;
        margin: 0px 5px;
        color: rgb(71, 70, 70);
        cursor: pointer;
    }
}
.login_buttons_group{
    color: white ;
    background: $primary_two;
    font-size: 13px;
    margin:15px auto 10px auto;
    text-align: center;
    width: 150px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 35px;
    .login_button{
        text-align: center;
        font-size: 11px !important;
    }
}
.login_main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 10px;
    position: relative;

    .login_container {
        padding: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        .ebike_logo {
            width: 120px;
            height: auto;
            display: block;
            margin: auto;
        }

        .login_form {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, 25%);
            padding: 15px 10px;
            border-radius: 5px;
            width: 285px;
            background: white;
            box-shadow: 0px 0px 5px grey;

            .heading_box {
                margin: auto;
                text-align: center;
            }

            .login_heading {
                font-size: 18px;
                font-weight: bolder;
                text-align: center;
                margin-bottom: 15px;
                margin-top: 0px;
                padding: 0px;
                padding-bottom: 10px;
                color: navy;
                border-bottom: 2px solid navy;
            }

            .login_field {
                margin: 5px 0px;
                outline: none;
                border: none;
            }

            .error {
                color: rgb(157, 20, 20);
                font-size: 13px;
                text-align: center;
                
            }

            .button {
                font-size: 12px;
                margin-top: 5px;
                font-weight: bolder;
                text-align: center;
                padding: 5px 0px;
                color: white;
                background-color: $primary_two;
                cursor: pointer;
            }

            .reset_password {
                float: right;
                color: $primary_two;
                background: transparent;
                border: none;
                font-size: 12px;
                cursor: pointer;
                padding: 0;
                margin-top: 20px;

                &:hover {
                    text-decoration: underline;
                }
            }

            .signup_button {
                font-size: 12px;
                margin-top: 10px;
                font-weight: bolder;
                text-align: center;
                text-decoration: none !important;
                padding: 10px 0px 0px 0px;
                border-radius: 0px;
                border-top: 1px solid rgb(211, 204, 204);
                color: Black;
                cursor: pointer;
            }

            .phone_login_button {
                font-size: 12px;
                margin-top: 10px;
                font-weight: 700;
                text-transform: none;
                border: 1px solid $primary_two;
                color: $primary_two;
                background: #fff;
            }

        }
    }
}

.google_box{
    text-align: center;
    margin: 10px auto 0px auto !important;
    display: flex;
    justify-content: center;
}
