.about_main {
    width: 100%;
    max-width: 1000px;
    margin:40px  auto;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;

    .about_container {
        display: flex;
        padding: 10px !important;
        justify-content: center;
        align-items: center;
        
        .aboutus {
            .abutus_heading {
                font-size: 14px;
                text-align: center;
                color: #1976d2;
                cursor: default;
                @media (max-width:768px) {
                    font-size: 13px;
                }
            }

            .about_text {
                text-align: left;
                .paragraph {
                    font-size: 12px;
                    color: rgb(38, 37, 37);
                    @media (max-width:768px) {
                        font-size: 11px;
                    }
                }

            }
        }
    }
}