@import '../../../styles/variable';

// Feature Car Styling
.feature_card_main {
    width: 100%;
    max-width: 210px;
    font-family: sans-serif;
    height: auto;
    text-decoration: none !important;
    padding: 15px 0px;
    border: 1px solid #d2d2d2;
    box-shadow: 0 .5rem 1rem rgba(92, 92, 92, 0.15) !important;

    @media (max-width:768px) {
        max-width: 175px;
    }

    @media (max-width:400px) {
        max-width: 160px;
    }

    .shop_name {
        text-decoration: none;
        font-size: 14px;
        text-align: center;
        color: $primary_two;
        margin: 0px 0px !important;
        padding: 10px 0px 10px 0px;

        @media (max-width:400px) {
            font-size: 12px;
        }
    }

    .logo {
        text-decoration: none;
        margin: auto;
        display: flex;

        @media (max-width:400px) {
            width: 100px;
            height: 45px;
        }
    }

    .city {
        font-size: 14px;
        text-decoration: none;
        text-align: center;
        color: $primary_two;
        margin: 0px 0px !important;
        padding: 15px 0px 5px 0px;

        @media (max-width:400px) {
            font-size: 12px;
        }
    }

    .address {
        font-size: 12px;
        text-align: center;
        text-decoration: none;
        color: grey;
        margin: 0px 0px !important;
        padding: 8px 0px;
    }

    .date {
        font-size: 12px;
        text-decoration: none;
        text-align: center;
        color: grey;
        margin: 0px 0px !important;
        padding: 4px 0px;

        @media (max-width:768px) {
            margin-bottom: 10px !important;
        }

        @media (max-width:400px) {
            font-size: 12px;
        }
    }

    .more_details_button {
        font-size: 14px;
        display: flex;
        margin: 13px auto 8px auto;
        padding: 6px 15px;
        border-radius: 0px;
        border: none;
        background: $primary_two;
        color: white;
        cursor: pointer;

        @media (max-width:768px) {
            display: none;
        }
    }
}

// 

.dealer_card_main {
    width: 100%;
    height: auto;
    text-decoration: none !important;
    padding: 10px 0px;
    box-shadow: 0px 0px 10px rgba(128, 128, 128, 0.434);
    border: 1px solid #a9a7a782;

    // border: 1px solid #d2d2d2;
    margin: 20px 0px 20px 0px !important;
    display: flex;

    @media (max-width:768px) {
        border: 1px solid #d2d2d2;
        width: 100%;
        margin: 3px 0px 0px 0px !important;
        max-width: 175px;
        flex-direction: column;
    }

    @media (max-width:400px) {
        border: 1px solid #d2d2d2;
        width: 100%;
        margin: 3px 0px 0px 0px;
        max-width: 160px;
        flex-direction: column;
    }

    .image_box {
        width: 100%;
        max-width: 200px;
        display: flex;
        justify-content: center;
        align-items: center;

        @media (max-width:768px) {
            margin: 5px 0px;
        }

        // @media (max-width:400px) {
        //     .image {
        //         width: 70px;
        //         height: 45px;
        //     }
        // }
    }

    .detail_box {
        width: 100%;
        padding: 0px 0px 0px 0px;
        box-sizing: border-box;
    }

    .shop_name {
        font-size: 14px;
        color: $primary_two;
        font-weight: bolder;
        margin: 0px;
        padding: 10px 0px 2.5px 0px;

        @media (max-width:768px) {
            text-align: center !important;
            display: flex;
            margin: 5px 0px;
            justify-content: center;
        }

        @media (max-width:400px) {
            font-size: 12px;
        }
    }

    .city {
        font-size: 14px;
        color: $primary_two;
        padding: 2.5px 0px 2.5px 0px;
        margin: 0px;

        @media (max-width:768px) {
            text-align: center !important;
            display: flex;
            padding: 10px 0px 5px 0px;
            justify-content: center;
        }

        @media (max-width:400px) {
            font-size: 12px;
        }
    }

    .address {
        font-size: 12px;
        margin: 0px;
        display: flex;
        padding: 2.5px 0px 0px 0px;
        color: grey;

        .dealer_address {
            @media (max-width:768px) {
                padding: 8px 0px;
                margin: 0px;
                display: flex;
                justify-content: center;
            }

            @media (max-width:400px) {
                font-size: 12px;
            }
        }

        .dealer_createAt {
            @media (max-width:768px) {
                display: flex;
                justify-content: center;
                margin: 0px 0px 10px;
                padding: 4px 0px;
            }

            @media (max-width:400px) {
                font-size: 11px;
            }
        }

        @media (max-width:768px) {
            flex-direction: column;
        }
    }

    .more_button {
        font-size: 14px;
        display: flex;
        margin: 0px 15px 0px auto;
        padding: 6px 15px;
        border-radius: 0px;
        border: none;
        background: $primary_two;
        color: white;
        cursor: pointer;

        @media (max-width:768px) {
            display: none;
        }
    }
}