.privacy_main {
    width: 100%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1000px;
    margin: 20px auto;

    .privacy_container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10PX !important;

        .privacy {
            .privacy_policy_heading {
                color: #1976d2;
                font-size: 14px;
                cursor: default;
                text-align: center;

                @media (max-width:768px) {
                    font-size: 13px;
                }
            }

            .privacy_text {
                text-align: left;

                .privacy_policy_paragraph {
                    color: black;
                    font-size: 12px;

                    @media (max-width:768px) {
                        font-size: 11px;
                    }
                }
            }
        }
    }
}