$green: yellowgreen; 
$gray: #f2f3f3;
$blue: #1976d2;

.bikes_brand_main{
    width: 100%;
    max-width: 1000px;
    margin: auto;
    padding: 20px 0px 20px 0px !important;
    color: black !important;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}