
.bikes_brand_main {
    width: 100%;
    padding: 40px 0px 40px 0px !important;
    color: black !important;

    .bikes_brand_container{
        width: 100%;
        max-width: 1100px;
        box-sizing: border-box;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        padding: 0px 10px 0px 10px !important;
        justify-content: left;
        column-gap: 20px;
@media (max-width:768px) {
    justify-content: space-around;
    column-gap: 10px;
}
        .heading{
            width: 100%;
            font-size: 22px;
            color: #434343;
            margin: 0px 0px 20px;
            font-weight: bolder;
            text-align: center;
        }
        // .all_card_box{
        // column-gap: 20px;
        //     margin: auto;
        //     display: flex;
        //     justify-content: left;
        //     flex-wrap: wrap;
        //     text-align: center;
        //     border: 1px solid #000;
        // }
        // .brand_image_box{
        //     border: 1px solid #000;
        //     // margin: auto;
        // }
    }
}