$green: yellowgreen; 
$gray: #f2f3f3;
$blue: #1976d2;


.dealers_main{
    width: 100%;
    max-width: 1000px;
    margin:10px auto;
    padding: 5px !important;
    height: auto;
    .bikre_review_grid{
        display: flex;
        justify-content: center;
        .bike_image_box{
            width: 100%;
            height: auto;
            padding: 10px;
            display: inline-block;
            justify-content: center;
            .title{
                width: 100%;
                text-align: left;
                color: #1976d2;
                font-size: 20px;
                @media (max-width:768px) {
                    font-size: 13px;
                }
            }

            .bike_image{
                width: 100%;
                height: auto;
                .image{
                    width: 100%;
                    height: auto;
                }
            }
        }

        .bike_review_box{
            padding: 10px !important;
            box-shadow: 0px 0px 5px grey;
            height: fit-content;

            .price_box{
                width: 100%;
                border-bottom: 1px solid rgb(203, 199, 199);
                text-align: center;
                font-size: 20px;
                padding: 10px 0px !important;
                font-weight: bolder;
                color: yellowgreen;
                @media (max-width:768px) {
                    font-size: 13px;
                }
            }
            .rating_box{
                width: 100%;
                border-bottom: 1px solid rgb(203, 199, 199);
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 14px;
                padding: 15px 0px !important;
                color: rgb(203, 199, 199);
                @media (max-width:768px) {
                    font-size: 13px;
                }
            }
            .comment_box{
                margin: 5px 0px;
                width: 100%;
                border-bottom: 1px solid rgb(213, 206, 206);
                text-align: left;
                font-size: 18px;
                font-weight: bold;
                padding: 15px 0px 15px 0px!important;
                color: rgb(14, 13, 13);
                @media (max-width:768px) {
                    font-size: 13px;
                }

                .comment_box_data{
                    display: flex;
                    // align-items: center;
                    .data_heading{
                        font-size: 14px;
                        font-weight: bolder;
                        color: grey;
                        padding: 10px 0px;
                    }
                    .data_comment{
                        font-size: 14px;
                        color: grey;
                        padding: 10px 0px;
                    }
                    .data_text{
                        padding: 10px 0px 10px 5px;
                        font-size: 13px;
                    }
                    .data_date{
                        font-size: 10px;
                        width: 100%;
                        text-align: right;
                    }
                }
            }

            .view_detail_btn {
                color: #1976d2;
                margin-top: 10px;
                padding: 3px 8px;
                border-radius: 0px;
                width: 100%;
                font-size: 13px;
                border: 1px solid #1976d2;
        }
        }

    }

    .bike_information_grid{
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;

        .bike_information_grid1{
        box-shadow: 0px 0px 10px rgb(210, 207, 207);
            .title{
                width: 100%;
                text-align: left;
                padding: 10px 0px 0px 10px;
                color: #1976d2;
                font-size: 16px;
                @media (max-width:768px) {
                    padding: 10px 0px 0px 5px;
                    font-size: 13px;
                }
            }

            .information_table{
                display: flex;
                justify-content: space-between;
                gap: 10px;

                .table {
                    width: 95%;
                    border-collapse: collapse;
                    margin: 10px 5px 10px 5px !important;
                    text-align: center;

                    .tr {
                        border-bottom: 1px solid #e0e0e0;
                        border: 1px solid #000;

                        .column {
                            text-wrap: wrap;
                            padding: 10px 12px;
                            text-align: center;
                            font-size: 12px;
                            border: 1px solid #ddd;
                            @media (max-width:768px) {
                                font-size: 11px;
                            }
                          }
                      }
                  }
            }

        }
    }

    .bike_video_grid{
        padding: 20px 0px;
        .bike_video_box{
            width: 100%;
            padding: 10px 10px 10px 10px;

            .bike_video{
                width: 100%;
                margin: auto;
                height: 315px;
                border: none;
                padding: 0px;
                margin: 0px;
                box-sizing: border-box;
                box-shadow: 0px 0px 10px rgb(210, 207, 207);
            }
        }
    }

    .other_bike_card{
        .card_grid{
            display: flex;
            flex-wrap: wrap;
            padding: 0px !important;
            gap: 10px;
            justify-content: center;
            .heading{
                width: 100%;
                text-align: center;
                font-size: 16px;
                font-weight: bolder;
            }
        }
    }

}
