.dealer_detail_main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
    box-sizing: border-box;

    .container {
        width: 100%;
        max-width: 900px;
        margin: 5px auto;
        box-sizing: border-box;
        padding: 5px 10px 5px 10px;

        @media (max-width:768px) {}

        .first_detail_card_box {
            width: 100%;
            margin: 10px 0px;
            padding: 5px 0px 5px 0px;
            height: auto;
            display: flex;
            box-sizing: border-box;
            justify-content: center;
            align-items: center;

            @media (max-width:768px) {}

            .main_crad {
                width: 100%;
                max-width: 700px;
                margin: auto;
                padding: 10px 5px;
                display: flex;
                box-shadow: 0px 0px 10px rgb(204, 201, 201);

                @media (max-width:768px) {
                    flex-direction: column;
                }

                .image_box {
                    width: 100%;
                    display: flex;
                    padding: 20px 20px 20px 20px;
                    justify-content: center;
                    max-width: 150px;

                    @media (max-width:768px) {
                        margin: auto;
                    }
                }

                .main_card_details {
                    width: 100%;
                    padding: 0px 0px 0px 10px;
                    @media (max-width:768px) {
                        padding: 0px 0px 0px 20px;
                        
                    }

                    .shop_name {
                        font-size: 16px;
                        display: flex;
                        color: #1976d2;
                        align-items: center;
                        gap: 7px;
                        margin: 3px 0px 5px 0px;

                    }

                    .address {
                        font-size: 16px;
                        margin: 10px 0px 10px 0px;
                        color: #1976d2;
                        color: yellowgreen;
                        display: flex;
                        align-items: center;
                        gap: 7px;
                    }

                    .full_address {
                        margin: 3px 0px 5px 0px;
                        font-size: 12px;
                        display: flex;
                        color: #434343;
                        align-items: center;
                        gap: 7px;
                    }

                    .phone {
                        margin: 3px 0px 3px 0px;
                        font-size: 12px;
                        display: flex;
                        align-items: center;
                        gap: 7px;
                        color: #434343;
                    }
                }
            }
        }

        .more_dealers {
            width: 100%;
            margin: 50px 0px 10px 0px;
            box-sizing: border-box !important;

            @media (max-width:768px) {}

            .similar_dealer_heading_box {
                width: 100%;
                display: flex;
                margin: 0px 0px 10px 0px;
                padding: 10px 0px 10px 0px;
                justify-content: space-between;

                @media (max-width:768px) {
                    justify-content: center;
                    margin: 0px !important;
                }

                .heading,
                .view_all_dealers {
                    margin: 0px 0px;
                    color: #1976d2;
                    font-size: 14px;
                }

                .heading {
                    padding-left: 30px;

                    @media (max-width:768px) {
                        font-size: 16px;
                    }
                }

                .view_all_dealers {
                    padding-right: 30px;

                    @media (max-width:768px) {
                        display: none;
                    }
                }
            }

            .more_dealers_card {
                width: 100%;
                box-sizing: border-box;
                height: auto;
                display: flex;
                padding: 10px 10px !important;
                flex-wrap: wrap;
                justify-content: space-between;

                .more_dealer_card_main {
                    box-shadow: 0px 0px 10px rgb(204, 201, 201);
                    width: 100%;
                    max-width: 270px;
                    height: auto;
                    padding: 10px 0px;
                    margin: 2px 0px 2px 0px;

                    @media (max-width:768px) {
                        box-shadow: 0px 0px 10px rgb(204, 201, 201);
                        max-width: 175px;
                        margin: 4px 0px 4px 0px;
                    }

                    .more_dealer_image {
                        display: flex;
                        justify-content: center;
                        margin: 0px 0px;
                        padding: 0px 0px;

                        .image {
                            height: 70px;
                        }
                    }

                    .shop_name {
                        font-size: 14px;
                        color: #1976d2;
                        display: flex;
                        justify-content: center;
                        margin: 10px 0px;
                    }

                    .phone {
                        font-size: 14px;
                        color: #1976d2;
                        display: flex;
                        justify-content: center;
                        margin: 10px 0px 20px 0px;
                    }

                    .btn {
                        display: flex;
                        margin: 10px auto 0px auto;
                        border-radius: 0px;
                        justify-content: center;
                        border: 1px solid #1976d2;
                        background: transparent;
                        color: #1976d2;
                        font-size: 14px;
                        text-align: center;
                        width: 90%;
                        padding: 8px 15px;
                        cursor: pointer;

                        @media (max-width:768px) {
                            padding: 5px 10px;
                            width: 60%;
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }
}

.icon {
    font-size: 16px;
    color: yellowgreen;
}