@font-face {
    font-family: 'Lato';
    src: url('/fonts/Lato-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'LatoBold';
    src: url('/fonts/Lato-Bold.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

.banner_box {
    width: 100%;
    height: auto;
    position: relative;
    object-fit: cover;
    padding: 0px !important;
    margin: 0px !important;
    box-sizing: border-box;
    overflow: hidden;

    .image {
        max-width: 100%;
        width: 100%;
        height: auto;
        padding: 0px !important;
        margin: 0px !important;
        box-sizing: border-box;

        @media (max-width:450px) {
            box-sizing: border-box;
            height: auto !important;
            padding: 0px 0px 0px 0px !important;
        }
    }

    .header_main {
        width: 100%;
        background-color: rgba(0, 0, 0, 0.838);
        position: absolute;
        bottom: 0;
        left: 0;
        color: black;
        box-sizing: border-box;
        padding: 0px !important;
        margin: 0px !important;
        display: flex;
        justify-content: center !important;
        align-items: center !important;
        @media (max-width:768px) {
            padding: 10px 0px 10px 0px !important ;
            position: none;
        }

        .header_container {
            width: 100%;
            height: 'auto';
            margin: 0px 15px;
            display: flex;
            flex-direction: column;

            @media (max-width:768px) {
                margin: 0px 5px;
                padding: 0px 5px 0px 5px !important;
            }

            .content_box {
                box-sizing: border-box;
                font-size: 14px;
                height: auto;
                padding: 10px 10px 10px 10px !important;
                display: flex;
                justify-content: space-between;
                align-items: center !important;

                @media (max-width:768px) {
                    padding: 10px 0px 10px 0px !important;
                    justify-content: space-between;
                    flex-wrap: wrap;
                }

                .logo_box {
                    width: 190px;
                    height: 60px;
                    display: flex;
                    align-items: center !important;
                    padding: 0px 0px 0px 0px !important;

                    .logo_image {
                        height: 70px;
                        padding: 0px 0px 0px 0px !important;
                        width: 100%;
                        @media (max-width:768px) {
                            height: 50px;
                        }
                    }

                    @media (max-width:768px) {
                        width: 120px;
                        height: auto;
                    }
                }

                .input_box {
                    padding: 0px 0px 0px 0px !important;
                    display: flex;
                    width: 40%;
                    height: 40px;
                    align-items: center;
                    margin: 0px 0px 0px 20px !important;
                    justify-content: center;
                    background-color: #3c3c3c;
                    color: white !important;

                    .input {
                        padding: 0px 0px 0px 0px !important;
                        color: white;
                    }

                    input::placeholder {
                        color: white;
                        font-size: 13px;
                    }
                }
            }

            .mobile_input {
                width: 100%;
                padding: 10px 0px 0px 0px;
                display: flex;
                justify-content: center;
                align-items: center;
                height: auto;
                background-color: transparent;

                .input_box {
                    padding: 0px 0px 0px 0px !important;
                    display: flex;
                    width: 100%;
                    height: 40px;
                    align-items: center;
                    margin: 0px 0px 0px 20px !important;
                    justify-content: center;
                    background-color: #3c3c3c;
                    color: white !important;

                    .input {
                        padding: 0px 0px 0px 0px !important;
                        color: white;
                    }

                    input::placeholder {
                        color: white;
                        font-size: 13px;
                    }
                }
            }
        }

    }
}

.thread_box {
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    // background-color: whitesmoke;
    color: white;
    padding: 8px 12px;
    cursor: pointer;
    white-space: nowrap;
    font-size: 16px;
    font-weight: bolder;
    @media (max-width:768px) {
        padding: 8px 0px !important;
        font-size: 14px;
    }
}

.ct_thread {
    font-size: 16px;
    text-transform: capitalize;
    font-family: "LatoBold";
    color: white;
    letter-spacing: 1px;

    @media (max-width:768px) {
        display: none;
    }
}

.input_box {
    // justify-content: center;
    // align-items: center;
    box-sizing: border-box !important;
    width: 100%;
    // height: 10px;
    max-width: 250px !important;
    // background-color: red;
    // overflow: hidden !important;
    // border: 1px solid #a9a9a9;
    border-radius: 5px;
    background-color: #333333 !important;
    // @media (max-width:768px) {
    //     width: 100%;
    //     border: 1px solid #ff0404;
    // }
    
    .input1 {
        height: 100%;
        width: 100% !important;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        padding: 0px 10px 0px 10px  !important;
        // border: 1px solid #ff0000;
        margin: 0px !important;
        border: none;
        background-color: #333333;
        color: #a9a9a9 !important;
        outline: none;
        font-size: 14px;
        box-sizing: border-box;

        &::placeholder {
            color: #a9a9a9 !important;
            font-size: 16px;
            font-weight: bolder;
            letter-spacing: 1px;
        }
    }

    .btn {
        margin: 0px !important;
        padding: 0px 5px 0px 7px !important;
        // width: 100%;
        height: 100%;
        cursor: pointer;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        // background-color: rgba(175, 175, 175, 0.634);
        color: #a9a9a9 !important;
        border: none;
        border-bottom-right-radius: 10px;
        border-top-right-radius: 10px;
    }
}
.thread_main_box{
    justify-content: center;
    align-items: center;
}