@import  '../../styles/variable';
.blog_details_main{
    width: 100%;
    padding: 20px 5px 20px 5px !important;
    height: auto;
    max-width: 1150px;
    margin: auto;
    min-height: 50vh;
    // color: #b5b2b2;
    .gird_box_main{
        display: flex;
        justify-content: space-between;
    
    .blog_details_card{
        width: 100%;
        padding: 0px 10px!important;
        .image_box{
            width: 100%;
            height: 418px;
            @media (max-width:768px) {
                width: 100%;
                height: auto;
            }
            .image{
                width: 100%;
                height: 100%;
            }
        }
        .blog_details_content{

            .blogTitle{
                font-size: 24px;
                padding: 15px 0px 5px 0px !important;
                margin: 0px 0px 13px;
                @media (max-width:500px) {
                    font-size: 18px;
                }
            }

            .profile_box{
                display: flex;
                padding: 5px 0px 5px 0px;
                align-items: center;
                font-size: 12px;
            }

            .socialicons_box{
                display: flex;
                align-items: center !important;
                gap: 5px;
                padding: 20px 0px 5px 0px;
                margin: 0px 0px 7px;
            }
        }
        .blog_content {
            font-size: 13px;
            margin: 0px 0px 17px;
            @media (max-width:767px) {
                margin:  15px;
            }
        }

        .comment_box{
            margin: 0px 0px 10px;
            .comment_box_Title{
                font-size: 17px;
                font-weight: bolder;
                color: $primary_two;
                padding: 0px 0px 0px 10px;
                margin: 0px 0px 15px;
            }

            .details_input{
                margin: 0px 0px 15px;
                display: flex;
                padding: 0px 0px 0px 0px !important;
                flex-wrap: wrap;
                row-gap: 10px !important;
                flex-direction: row;
                justify-content: space-between;
                width: 99%;
                box-sizing: border-box;
                .your_comment_input {
                    width: 100%;
                    display: flex;
                    outline: none;
                    border: 1px solid #e2e2e2;
                    align-items: flex-start;
                    padding: 18px 15px 5px;
                    min-height: 30px;
                    overflow-y: auto;
                    height: auto;
                    font-size: 16px;
                    min-height: 140px;

                    @media (max-width:767px) {
                        min-height: 120px;
                    }

                }
            }
            .post_comment{
                padding: 8px 12px;
                font-size: 12px;
                border-radius: 0px;
                background: $primary_two;
                color: white;
                font-weight: bold;

            }
            .user_comment_box{
// border-bottom: 1px solid #dedada;
padding: 10px 0px;
box-shadow: 0px 0px 10px rgb(210, 208, 208);
min-height:auto;
max-height: 200px;
overflow-y: scroll;
.user_comment{
                    border-bottom: 1px solid #e9e5e5;
                    padding: 10px 0px 10px 10px;
                    margin: 5px 0px;

                    .user_comment_data{
                        display: flex;

                        .user_comment_details{
                        }
                    }
                    .user_main_comment{
                        margin: 0px;
                        font-size: 14px;
                        color: black;
                        padding: 12px 0px 8px 10px;
                    }
                }
            }
        }
    }

    .moreBlog{
        background-color: rgb(238, 241, 238);
    }
}
}


