@import '../../styles/variable';

@font-face {
    font-family: 'LatoBold';
    src: url('/fonts/Lato-Bold.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('/fonts/Lato-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

.blog_details_main {
    width: 100%;
    padding: 20px 5px 20px 5px !important;
    height: auto;
    max-width: 1150px;
    margin: auto;
    min-height: 50vh;
    box-sizing: border-box;

    .gird_box_main {
        display: flex;
        justify-content: space-between;

        .blog_details_card {
            width: 100%;
            padding: 0px 10px 20px 10px !important;

            .image_box {
                width: 100%;
                height: 418px;

                .image_swiper {
                    height: 100%;

                    .image {
                        width: 100%;
                        height: 100%;

                        @media (max-width:768px) {
                            height: 204px;

                        }
                    }
                }

                @media (max-width:768px) {
                    width: 100%;
                    height: auto;
                }

                .image {
                    width: 100%;
                    height: 100%;
                    @media (max-width:768px) {
                        height: 204px;
                    }
                }
            }

            .blog_details_content {

                .blogTitle {
                    font-size: 24px;
                    font-family: 'Lato';
                    padding: 15px 0px 5px 0px !important;
                    margin: 0px 0px 13px;
                    letter-spacing: 1px;
                    color: #2d2d2d;

                    @media (max-width:500px) {
                        font-size: 24px;
                    }
                }

                .profile_box {
                    display: flex;
                    padding: 5px 0px 5px 0px;
                    align-items: center;
                    font-size: 12px;
                    font-family: 'Lato';
                }

                .socialicons_box {
                    display: flex;
                    align-items: center !important;
                    gap: 5px;
                    padding: 20px 0px 5px 0px;
                    margin: 0px 0px 7px;
                }
            }

            .blog_content {
                font-family: 'Lato';
                font-size: 15px;
                color: #212121;
                // letter-spacing: 1px;
                margin: 0px 0px 17px;

                @media (max-width:767px) {
                    margin: 15px 0px;
                }
            }

            .comment_box {
                margin: 0px 0px 10px;
                box-sizing: border-box;

                .shortblogheading {
                    font-size: 24px;
                    font-family: sans-serif;
                    font-weight: bolder;
                    color: $primary_two;
                    margin: 10px 0px 10px 0px !important;
                    padding: 0px !important;
                    width: 100%;
                    display: flex;
                    justify-content: left;
                    align-items: center;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    column-gap: 10px;

                    .underline {
                        height: 0px;
                        border: 2px solid #00000012;
                        background-color: #00000012;
                        width: 100%;
                    }
                }

                .details_input {
                    margin: 0px 0px 15px;
                    display: flex;
                    padding: 0px 0px 0px 0px !important;
                    flex-wrap: wrap;
                    row-gap: 10px !important;
                    flex-direction: row;
                    justify-content: space-between;
                    width: 99%;
                    box-sizing: border-box;

                    .your_comment_input {
                        width: 100%;
                        max-width: 100%;
                        min-width: 100%;
                        display: flex;
                        outline: none;
                        border: 1px solid #e2e2e2;
                        align-items: flex-start;
                        padding: 18px 12px;
                        min-height: 100px;
                        overflow-y: auto;
                        box-sizing: border-box;
                        height: auto;
                        font-size: 16px;

                        @media (max-width:767px) {
                            width: 100%;
                            max-width: 100%;
                            min-height: 130px;
                        }

                    }
                }

                .post_comment {
                    padding: 8px 12px;
                    font-size: 12px;
                    border-radius: 0px;
                    background: $primary_two;
                    color: white;
                    font-weight: bold;

                }

                .user_comment_box {
                    margin-top: 20px;
                    border-radius: 10px;
                    padding: 10px 0px;
                    box-shadow: 0px 0px 10px rgb(210, 208, 208);
                    min-height: auto;
                    max-height: 200px;
                    overflow-y: auto;
                    scrollbar-width: thin;
                    scrollbar-color: #999 #f0f0f0;

                    &::-webkit-scrollbar {
                        width: 8px;
                    }

                    &::-webkit-scrollbar-track {
                        background: #f0f0f0;
                        border-radius: 10px;
                    }

                    &::-webkit-scrollbar-thumb {
                        background-color: #c1c1c1;
                        border-radius: 10px;
                    }

                    &::-webkit-scrollbar-thumb:hover {
                        background-color: #a0a0a0;
                    }

                    &::-webkit-scrollbar-button {
                        width: 0;
                        height: 0;
                        display: none;
                        background: transparent;
                    }

                    &::-webkit-scrollbar-corner {
                        background: transparent;
                    }

                    .user_comment {
                        border-top: 1px solid #e9e5e5;
                        padding: 10px 0px 10px 10px;
                        margin: 5px 0px;

                        .user_comment_data {
                            display: flex;

                            .user_comment_details {}
                        }

                        .user_main_comment {
                            margin: 0px;
                            font-size: 14px;
                            font-family: 'Lato';
                            color: black;
                            padding: 12px 5px 8px 10px;
                        }
                    }
                }

            }
        }

        .moreBlog {
            display: inline-block;
            justify-content: center;

            @media (max-width:768px) {
                display: none;
            }

            .heading {
                width: 100%;
                text-align: center;
                font-size: 16px;
                font-weight: bolder;
                padding: 10px 0px 5px 0px !important;
                border-bottom: 1px solid #d7d2d2;
            }

            .Dealers_card {
                margin-top: 10px;
                display: flex;
                padding: 10px 10px 10px 10px !important;
                flex-wrap: wrap;
                justify-content: left;
                column-gap: 10px;
                box-shadow: 0px 0px 5px rgb(228, 225, 225);

                .card_main {
                    width: 95%;
                    border: 1px solid #dfdada;
                    margin: 5px 0px 5px 0px;
                    height: 60px;
                    display: flex;
                    justify-content: left;
                    flex-direction: row;
                    text-align: left;
                    padding: 0px 10px 0px 10px !important;
                    align-items: center;

                    .card_image {
                        width: 40px;
                        height: auto;

                        @media (max-width:768px) {
                            padding: 10px 0px 10px 0px;
                            width: 30px;
                        }
                    }

                    .card_text {
                        display: inline-block;
                        justify-content: center;
                        align-items: center;
                        padding: 0px !important;
                        margin: 0px !important;
                        width: 100%;

                        .card_title {
                            font-size: 12px;
                            font-weight: bold;
                            color: grey;
                            padding: 0px 0px 0px 10px;

                            @media (max-width:768px) {
                                font-size: 11px;
                            }
                        }

                        .card_location {
                            font-size: 12px;
                            font-weight: bolder;
                            color: black;
                            padding: 0px 0px 0px 10px;

                            @media (max-width:768px) {
                                font-size: 11px;
                            }
                        }
                    }

                    @media (max-width:768px) {
                        width: 45%;
                        height: 80px;
                        padding: 10px 0px 10px 0px !important;
                        flex-direction: column;
                        text-align: center;
                    }
                }
            }

            .view_detail_btn {
                color: $primary_two;
                margin-top: 10px;
                border-radius: 1px;
                padding: 0px 0px;
                width: 100%;
                font-size: 13px;
                border: 1px solid $primary_two;
                background-color: transparent;

                .Link_tag {
                    padding: 3px 0px;
                    width: 100%;
                    text-decoration: none;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }

            @media (max-width:768px) {
                margin-top: 40px;
                justify-content: center !important;
                // flex-wrap: wrap;

                .view_detail_btn {
                    padding: 2px 6px;
                    margin: 5px auto 0px auto !important;
                    display: flex;
                    justify-content: center;
                    width: 80%;
                }
            }

            .blog_add {
                width: 100%;
                padding: 10px 0px !important;
                margin: 0px 0px 10px 0px !important;
                height: 270px;
                display: flex;
                justify-content: center;
                margin: auto;
                box-sizing: border-box;

                .image {
                    max-width: 300px;
                    height: 100%;
                    // width: 100%;
                    margin: auto;
                }
            }

            .shortBlog_main {
                padding: 0px 7px !important;
                box-shadow: 0px 0px 5px rgb(228, 225, 225);
                box-sizing: border-box;
                overflow: hidden;
                margin: 20px 0px 20px 0px !important;

                .shot_blog_card {
                    display: flex;
                    justify-content: left;
                    margin: 10px 0px;

                    .image_box {
                        width: 100%;
                        max-width: 86px;
                        height: 63px;
                        padding: 0px !important;

                        .image {
                            width: 100%;
                            height: 100%;
                        }
                    }

                    .title_box {
                        display: flex;
                        flex-direction: column;
                        justify-content: left;
                        text-align: left;
                        font-family: sans-serif;
                        //   row-gap: 5px !important;
                        padding: 0px 0px 0px 7px !important;

                        .title {
                            margin: 0px !important;
                            font-size: 14px;
                            font-family: 'Lato';
                            color: #223c7b;
                            letter-spacing: 1px;
                        }

                        .price {
                            // display: none;
                            visibility: hidden;
                            margin: 0px;
                            padding: 0px;
                            font-size: 12px;
                            margin-top: 5px;
                            font-family: 'Lato';
                            color: green;
                        }

                        .name {
                            color: grey;
                            font-size: 13px;
                            margin-top: 5px;
                            font-weight: bold;
                            padding: 0px;
                        }
                    }
                }
            }
        }
    }
}

.load_main {
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .load_div {
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;

    }
}

@media (max-width:768px) {
    .load_main {
        width: 100%;
        height: 50vh;
        display: flex;
        justify-content: center;
        align-items: center;

        .load_div {
            height: auto;
            display: flex;
            justify-content: center;
            align-items: center;

        }
    }
} 

.shortblogheading {
    font-size: 24px;
    font-family: sans-serif;
    font-weight: bolder;
    color: #444444;
    margin: 0px !important;
    padding: 0px !important;
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    column-gap: 10px;

    .underline {
        height: 0px;
        border: 2px solid #00000012;
        background-color: #00000012;
        width: 100%;
    }
}