@font-face {
    font-family: 'Lato';
    src: url('/fonts/Lato-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'LatoBold';
    src: url('/fonts/Lato-Bold.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
.main {
    width: 100%;
    max-width: 280px !important;
    box-sizing: border-box;
    border: 1px solid #c5c1c1;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    border-radius: 10px;
    padding: 0px 0px 10px 0px !important;
    transition: all 0.5s ease;
    overflow: hidden;

    @media (max-width:768px) {
        padding: 0px 0px 20px 0px !important;
        max-width: 165px;
        height: 265px;
        row-gap: 2px;
        margin: 5px 0px !important;
    }

    .image_box {
        width: 100%;
        margin: 0px 0px 0px 0px !important;

        .image {
            width: 100%;
            height: 280px;

            @media (max-width:768px) {
                height: 180px;
            }
        }
    }

    .price_box {
        padding: 0px !important;
        font-size: 20px;
        font-family: sans-serif;
        display: flex;
        box-sizing: border-box;
        flex-direction: column;
        justify-content: center;
        margin: auto 0px;
        text-align: center;

        .name {
            color: #313131;
            font-family: 'LatoBold';
            letter-spacing: 1px;
            font-size: 18px !important;
            margin: 0px 0px 4px 0px !important;

            @media (max-width:768px) {
                font-size: 14px !important;
            }
        }

        .all_price {
            display: flex;
            justify-content: center;
            column-gap: 10px;
            height: 12px;
            padding: 2px 0px;

            .sell_price,
            .product_price {
                color: rgb(0, 0, 0);
                font-size: 12px;
                margin: 0px 0px 0px 0px !important;

                @media (max-width:768px) {
                    font-size: 12px;
                }
            }
        }

        .rating {
            padding: 5px 0px 5px 0px !important;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    &:hover {
        cursor: pointer;
        box-shadow: 0px 0px 24px rgba(171, 168, 168, 0.5);
    }
}