///////////////////////////////////////EDIT USED BIKE
.main_box {
    width: 100% !important;
    box-sizing: border-box;
    margin: 20px 0px 10px 0px !important;
    padding: 0px 0px !important;


    .main {
        box-sizing: border-box;
        width: 100%;
        border: 1px solid #9999995c;
        display: flex;
        flex-direction: column;
        height: 670px !important;
        gap: 1rem;
        max-width: 700px;
        margin: auto;
        padding: 0 2rem;
        background-color: #fff;
    }

    .formHeader {
        display: flex;
        align-items: baseline;
        justify-content: left;
        column-gap: 240px;
        flex-direction: row;
        box-sizing: border-box;

        .a {
            width: 30px;
            height: 30px;
            font-size: 20px;
            border: 1px solid #1976d2;
            border-radius: 3px;
            cursor: pointer;
            padding: 3px !important;
            display: flex !important;
            color: white;
            background-color: #1976d2;
            box-sizing: border-box;
            justify-content: center !important;
            align-items: center !important;
            transition: all .5s ease;

            .icon {
                margin-left: 6px !important;
                font-size: 18px !important;
            }

            &:hover {
                opacity: 0.9;
            }
        }

        // .back_btn{
        //     box-sizing: border-box;
        //     // display: flex;
        //     // justify-content: center !important;
        //     // align-items: center !important;
        //     text-align: center;
        //     background-color: #1976d2;
        //     border: 1px solid #1976d2;
        //     color: white !important;
        //     height: 25px;
        //     width: 25px;
        //     padding: 0px !important;
        //     margin: 0px !important;
        //     text-decoration: none;

        //     .a {
        //         color: white !important;
        //         padding: 0px  !important;
        //         margin: 0px !important;
        //     .a {
        //         color: white !important;
        //         font-size: 20px;
        //         padding: 0px  !important;
        //         margin: 0px !important;
        //     }
        //     }
        // }



        .heading {
            font-size: 26px;
            padding: 20px 0px 0px 0px;
            font-weight: bold;
            box-sizing: border-box;
            margin: 0px 0px 10px 0px;
            text-align: center;
            color: rgb(39, 39, 39);
        }
    }

    .label {
        font-weight: 500;
        font-size: 14px;
        margin-bottom: -10px;
        display: block;
        color: rgba(48, 47, 47, 0.857);
    }

    .textarea {
        max-width: 100%;
        width: 100%;
        box-sizing: border-box;
        min-width: 100%;
        height: auto;
        min-height: 100px;
        max-height: 300px;
    }

    .textarea,
    .input {
        padding: 0.5rem 0.75rem;
        border: 1px solid #ccc;
        border-radius: 6px;
        font-size: 1rem;
        transition: all .5s ease;
        outline: none;
    }

    .input_ {
        margin-top: 10px;
        width: 100%;
    }

    .textarea:focus,
    .input:focus {
        box-shadow: 0px 0px 0px .2rem rgba(0, 123, 255, .25);
    }

    .all_inputs {
        padding: 10px 0px !important;
        box-sizing: border-box;
        display: flex;
        flex-wrap: wrap;
        row-gap: 10px;
        justify-content: space-between;
    }

    .input_ {
        width: 300px;
        border: 1px solid #4d4c4c92;
        border-radius: 4px;
        padding: 8px 10px !important;
        outline: none;
        color: black;
        box-sizing: border-box;
        margin: 15px 0px 10px 0px;
        transition: all .5s ease;
    }

    .input_:focus {
        box-shadow: 0px 0px 0px .2rem rgba(0, 123, 255, .25);
    }

    .fileInput {
        margin-top: 0.5rem;
        border: 1px solid #4a464684;
        outline: none;
        padding: 8px 5px !important;
        box-sizing: border-box;
        border-radius: 3px;
        cursor: pointer;
    }

    .imagePreview {
        display: flex;
        margin: 10px 0px 0px 0px;
        gap: 0.5rem;
        flex-wrap: wrap;
    }

    .imagePreview div {
        border: 1px solid #48464661;
        position: relative;
        border-radius: 3px;
        width: 120px;
        height: 100px;
    }

    .imagePreview img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 3px;
    }

    .imagePreview button {
        position: absolute;
        top: -8px;
        right: -8px;
        background-color: yellowgreen;
        color: white;
        border: none;
        border-radius: 50%;
        cursor: pointer;
        width: 20px;
        height: 20px;
        font-size: 14px;
    }

    .button {
        margin-top: 1rem;
        padding: 0.6rem 1.5rem;
        background-color: #007bff;
        color: white;
        border: none;
        border-radius: 8px;
        width: 100%;
        cursor: pointer;
        font-size: 1rem;
        cursor: pointer;
        align-self: flex-start;
    }

    .inputs_group {
        display: flex;
        flex-wrap: wrap;
        justify-content: left;
        column-gap: 30px;
        box-sizing: border-box;
    }
}

///////////////////////////////////////EDIT NEW BIKE
.New_main_box {
    width: 100% !important;
    box-sizing: border-box;
    margin: 20px 0px 10px 0px !important;
    padding: 0px 0px !important;

    .main {
        box-sizing: border-box;
        width: 100%;
        border: 1px solid #9999995c;
        display: flex;
        flex-direction: column;
        height: auto !important;
        gap: 1rem;
        max-width: 700px;
        margin: auto;
        padding: 10px 2rem;
        background-color: #fff;
    }

    .formHeader {
        display: flex;
        align-items: baseline;
        justify-content: left;
        column-gap: 240px;
        flex-direction: row;
        box-sizing: border-box;

        .a {
            width: 30px;
            height: 30px;
            font-size: 20px;
            border: 1px solid #1976d2;
            border-radius: 3px;
            cursor: pointer;
            padding: 3px !important;
            display: flex !important;
            color: white;
            background-color: #1976d2;
            box-sizing: border-box;
            justify-content: center !important;
            align-items: center !important;
            transition: all .5s ease;

            .icon {
                margin-left: 6px !important;
                font-size: 18px !important;
            }

            &:hover {
                opacity: 0.9;
            }
        }

        .heading {
            font-size: 26px;
            padding: 20px 0px 0px 0px;
            font-weight: bold;
            box-sizing: border-box;
            margin: 0px 0px 10px 0px;
            text-align: center;
            color: rgb(39, 39, 39);
        }
    }

    .label {
        font-weight: 500;
        font-size: 14px;
        margin-bottom: -10px;
        display: block;
        color: rgba(48, 47, 47, 0.857);
    }

    .textarea,
    .input {
        padding: 0.5rem 0.75rem;
        border: 1px solid #ccc;
        border-radius: 6px;
        font-size: 1rem;
        transition: all .5s ease;
        outline: none;
    }

    .textarea:focus,
    .input:focus {
        box-shadow: 0px 0px 0px .2rem rgba(0, 123, 255, .25);
    }

    .all_inputs {
        padding: 10px 0px !important;
        box-sizing: border-box;
        display: flex;
        flex-wrap: wrap;
        row-gap: 10px;
        justify-content: space-between;
    }

    .input_ {
        width: 200px;
        border: 1px solid #4d4c4c92;
        border-radius: 4px;
        padding: 8px 10px !important;
        outline: none;
        color: black;
        box-sizing: border-box;
        margin: 15px 0px 0px 0px;
        transition: all .5s ease;
    }

    .input_:focus {
        box-shadow: 0px 0px 0px .2rem rgba(0, 123, 255, .25);
    }

    .fileInput {
        margin-top: 0.5rem;
        border: 1px solid #4a464684;
        outline: none;
        padding: 8px 5px !important;
        box-sizing: border-box;
        border-radius: 3px;
        cursor: pointer;
    }

    .imagePreview {
        display: flex;
        margin: 10px 0px 0px 0px;
        gap: 0.5rem;
        flex-wrap: wrap;
    }

    .imagePreview div {
        border: 1px solid #48464661;
        position: relative;
        border-radius: 3px;
        width: 120px;
        height: 100px;
    }

    .imagePreview img {
        object-fit: cover;
        border-radius: 8px;
    }

    .imagePreview button {
        position: absolute;
        top: -8px;
        right: -8px;
        background-color: yellowgreen;
        color: white;
        border: none;
        border-radius: 50%;
        cursor: pointer;
        width: 20px;
        height: 20px;
        font-size: 14px;
    }

    .button {
        margin-top: 1rem;
        padding: 0.6rem 1.5rem;
        background-color: #007bff;
        color: white;
        border: none;
        border-radius: 8px;
        width: 100%;
        cursor: pointer;
        font-size: 1rem;
        cursor: pointer;
        align-self: flex-start;
    }

    .selected {
        width: 50%;
        height: 33px;
        padding: 8px 5px;
        outline: none;
        border-radius: 3px;

        .options {
            background-color: whitesmoke;
            color: rgb(0, 0, 0);
            text-transform: capitalize;
        }

    }

    .drop_downBox {
        display: flex;
        flex-direction: row;
        justify-content: left;
        column-gap: 25px;
        align-items: flex-end;

        @media (max-width:768px) {
            flex-direction: column;
            justify-content: left;
        }
    }

    .input_bike_url {
        width: 200px;
        border: 1px solid #4d4c4c92;
        border-radius: 4px;
        padding: 8px 10px !important;
        outline: none;
        color: black;
        box-sizing: border-box;
        margin: 15px 0px 0px 0px;
        transition: all .5s ease;
    }
}

//////////////////////////////////////EDIT BLOG
.main_blog_box {
    width: 100% !important;
    margin: auto;
    font-family: sans-serif;
    box-sizing: border-box;
    padding: 20px 0px !important;

    .main {
        box-sizing: border-box;
        width: 100%;
        border: 1px solid #9999995c;
        display: flex;
        flex-direction: column;
        height: auto !important;
        gap: 1rem;
        max-width: 700px;
        margin: auto;
        padding: 10px 2rem;
        background-color: #fff;
    }


    .formHeader {
        display: flex;
        align-items: baseline;
        justify-content: left;
        column-gap: 240px;
        flex-direction: row;
        box-sizing: border-box;

        .a {
            width: 30px;
            height: 30px;
            font-size: 20px;
            border: 1px solid #1976d2;
            border-radius: 3px;
            cursor: pointer;
            padding: 3px !important;
            display: flex !important;
            color: white;
            background-color: #1976d2;
            box-sizing: border-box;
            justify-content: center !important;
            align-items: center !important;
            transition: all .5s ease;

            .icon {
                margin-left: 6px !important;
                font-size: 18px !important;
            }

            &:hover {
                opacity: 0.9;
            }
        }

        .heading {
            font-size: 26px;
            padding: 20px 0px 0px 0px;
            font-weight: bold;
            box-sizing: border-box;
            margin: 0px 0px 10px 0px;
            text-align: center;
            color: rgb(39, 39, 39);
        }
    }


    .label {
        font-weight: 500;
        font-size: 14px;
        margin-bottom: -10px;
        display: block;
        color: rgba(48, 47, 47, 0.857);
    }

    .textarea,
    .input {
        padding: 0.5rem 0.75rem;
        border: 1px solid #ccc;
        border-radius: 6px;
        font-size: 1rem;
        transition: all .5s ease;
        outline: none;
    }

    .textarea {
        max-width: 95%;
        min-width: 95%;
        height: auto;
        min-height: 20px;
        max-height: 50px;
        width: 100%;
    }

    .textarea:focus,
    .input:focus {
        box-shadow: 0px 0px 0px .2rem rgba(0, 123, 255, .25);
    }

    .all_inputs {
        padding: 10px 0px !important;
        box-sizing: border-box;
        display: flex;
        flex-wrap: wrap;
        row-gap: 10px;
        justify-content: space-between;
    }

    .input_ {
        width: 200px;
        border: 1px solid #4d4c4c92;
        border-radius: 4px;
        padding: 8px 10px !important;
        outline: none;
        color: black;
        box-sizing: border-box;
        margin: 15px 0px 0px 0px;
        transition: all .5s ease;
    }

    .input_bike_url {
        width: 200px;
        border: 1px solid #4d4c4c92;
        border-radius: 4px;
        padding: 8px 10px !important;
        outline: none;
        color: black;
        box-sizing: border-box;
        margin: 15px 0px 0px 0px;
        transition: all .5s ease;
    }

    .input_:focus {
        box-shadow: 0px 0px 0px .2rem rgba(0, 123, 255, .25);
    }

    .fileInput {
        margin-top: 0.5rem;
        border: 1px solid #4a464684;
        outline: none;
        padding: 8px 5px !important;
        box-sizing: border-box;
        border-radius: 3px;
        cursor: pointer;
    }

    .imagePreview {
        display: flex;
        margin: 10px 0px 0px 0px;
        gap: 0.5rem;
        flex-wrap: wrap;
    }

    .imagePreview div {
        border: 1px solid #48464661;
        position: relative;
        border-radius: 3px;
    }

    .imagePreview img {
        width: 100px;
        height: 100px;
        object-fit: cover;
        border-radius: 8px;
    }

    .imagePreview button {
        position: absolute;
        top: -8px;
        right: -8px;
        background-color: yellowgreen;
        color: white;
        border: none;
        border-radius: 50%;
        cursor: pointer;
        width: 20px;
        height: 20px;
        font-size: 14px;
    }

    .button {
        margin-top: 1rem;
        padding: 0.6rem 1.5rem;
        background-color: #007bff;
        color: white;
        border: none;
        border-radius: 8px;
        width: 100%;
        cursor: pointer;
        font-size: 1rem;
        cursor: pointer;
        align-self: flex-start;
    }

    .selected {
        width: 100%;
        height: 33px;
        padding: 8px 5px;
        outline: none;
        border-radius: 3px;

        .options {
            background-color: whitesmoke;
            color: rgb(0, 0, 0);
            text-transform: capitalize;
        }

    }
}

//////////////////////////////////////EDIT PAGES
.main_page_box {
    width: 100% !important;
    margin: auto;
    font-family: sans-serif;
    box-sizing: border-box;
    padding: 20px 0px !important;

    .main {
        box-sizing: border-box;
        width: 100%;
        border: 1px solid #9999995c;
        display: flex;
        flex-direction: column;
        height: auto !important;
        gap: 1rem;
        max-width: 700px;
        margin: auto;
        padding: 10px 2rem;
        background-color: #fff;
    }


    .formHeader {
        display: flex;
        align-items: baseline;
        justify-content: left;
        column-gap: 240px;
        flex-direction: row;
        box-sizing: border-box;

        .a {
            width: 30px;
            height: 30px;
            font-size: 20px;
            border: 1px solid #1976d2;
            border-radius: 3px;
            cursor: pointer;
            padding: 3px !important;
            display: flex !important;
            color: white;
            background-color: #1976d2;
            box-sizing: border-box;
            justify-content: center !important;
            align-items: center !important;
            transition: all .5s ease;

            .icon {
                margin-left: 6px !important;
                font-size: 18px !important;
            }

            &:hover {
                opacity: 0.9;
            }
        }

        .heading {
            font-size: 26px;
            padding: 20px 0px 0px 0px;
            font-weight: bold;
            box-sizing: border-box;
            margin: 0px 0px 10px 0px;
            text-align: center;
            color: rgb(39, 39, 39);
        }
    }


    .label {
        font-weight: 500;
        font-size: 14px;
        margin-bottom: -10px;
        display: block;
        color: rgba(48, 47, 47, 0.857);
    }

    .textarea,
    .input {
        padding: 0.5rem 0.75rem;
        border: 1px solid #ccc;
        border-radius: 6px;
        font-size: 1rem;
        transition: all .5s ease;
        outline: none;
    }

    .textarea {
        max-width: 95%;
        min-width: 95%;
        height: auto;
        min-height: 20px;
        max-height: 50px;
        width: 100%;
    }

    .textarea:focus,
    .input:focus {
        box-shadow: 0px 0px 0px .2rem rgba(0, 123, 255, .25);
    }

    .all_inputs {
        padding: 10px 0px !important;
        box-sizing: border-box;
        display: flex;
        flex-wrap: wrap;
        row-gap: 10px;
        justify-content: space-between;
    }

    .input_ {
        width: 200px;
        border: 1px solid #4d4c4c92;
        border-radius: 4px;
        padding: 8px 10px !important;
        outline: none;
        color: black;
        box-sizing: border-box;
        margin: 15px 0px 0px 0px;
        transition: all .5s ease;
    }

    .input_bike_url {
        width: 200px;
        border: 1px solid #4d4c4c92;
        border-radius: 4px;
        padding: 8px 10px !important;
        outline: none;
        color: black;
        box-sizing: border-box;
        margin: 15px 0px 0px 0px;
        transition: all .5s ease;
    }

    .input_:focus {
        box-shadow: 0px 0px 0px .2rem rgba(0, 123, 255, .25);
    }

    .fileInput {
        margin-top: 0.5rem;
        border: 1px solid #4a464684;
        outline: none;
        padding: 8px 5px !important;
        box-sizing: border-box;
        border-radius: 3px;
        cursor: pointer;
    }

    .imagePreview {
        display: flex;
        margin: 10px 0px 0px 0px;
        gap: 0.5rem;
        flex-wrap: wrap;
    }

    .imagePreview div {
        border: 1px solid #48464661;
        position: relative;
        border-radius: 3px;
    }

    .imagePreview img {
        width: 100px;
        height: 100px;
        object-fit: cover;
        border-radius: 8px;
    }

    .imagePreview button {
        position: absolute;
        top: -8px;
        right: -8px;
        background-color: yellowgreen;
        color: white;
        border: none;
        border-radius: 50%;
        cursor: pointer;
        width: 20px;
        height: 20px;
        font-size: 14px;
    }

    .button {
        margin-top: 1rem;
        padding: 0.6rem 1.5rem;
        background-color: #007bff;
        color: white;
        border: none;
        border-radius: 8px;
        width: 100%;
        cursor: pointer;
        font-size: 1rem;
        cursor: pointer;
        align-self: flex-start;
    }

    .selected {
        width: 100%;
        height: 33px;
        padding: 8px 5px;
        outline: none;
        border-radius: 3px;

        .options {
            background-color: whitesmoke;
            color: rgb(0, 0, 0);
            text-transform: capitalize;
        }

    }
}

.main_brand_box {
    width: 100% !important;
    margin: auto;
    font-family: sans-serif;
    box-sizing: border-box;
    padding: 20px 0px !important;

    .main {
        box-sizing: border-box;
        width: 100%;
        border: 1px solid #9999995c;
        display: flex;
        flex-direction: column;
        height: auto !important;
        gap: 1rem;
        max-width: 700px;
        margin: auto;
        padding: 10px 2rem;
        background-color: #fff;
    }


    .formHeader {
        display: flex;
        align-items: baseline;
        justify-content: left;
        column-gap: 240px;
        flex-direction: row;
        box-sizing: border-box;

        .a {
            width: 30px;
            height: 30px;
            font-size: 20px;
            border: 1px solid #1976d2;
            border-radius: 3px;
            cursor: pointer;
            padding: 3px !important;
            display: flex !important;
            color: white;
            background-color: #1976d2;
            box-sizing: border-box;
            justify-content: center !important;
            align-items: center !important;
            transition: all .5s ease;

            .icon {
                margin-left: 6px !important;
                font-size: 18px !important;
            }

            &:hover {
                opacity: 0.9;
            }
        }

        .heading {
            font-size: 26px;
            padding: 20px 0px 0px 0px;
            font-weight: bold;
            box-sizing: border-box;
            margin: 0px 0px 10px 0px;
            text-align: center;
            color: rgb(39, 39, 39);
        }
    }


    .label {
        font-weight: 500;
        font-size: 14px;
        margin-bottom: -10px;
        display: block;
        color: rgba(48, 47, 47, 0.857);
    }

    .textarea,
    .input {
        padding: 0.5rem 0.75rem;
        border: 1px solid #ccc;
        border-radius: 6px;
        font-size: 1rem;
        transition: all .5s ease;
        outline: none;
    }

    .textarea {
        max-width: 95%;
        min-width: 95%;
        height: auto;
        min-height: 20px;
        max-height: 50px;
        width: 100%;
    }

    .textarea:focus,
    .input:focus {
        box-shadow: 0px 0px 0px .2rem rgba(0, 123, 255, .25);
    }

    .all_inputs {
        padding: 10px 0px !important;
        box-sizing: border-box;
        display: flex;
        flex-wrap: wrap;
        row-gap: 10px;
        justify-content: space-between;
    }

    .input_ {
        width: 200px;
        border: 1px solid #4d4c4c92;
        border-radius: 4px;
        padding: 8px 10px !important;
        outline: none;
        color: black;
        box-sizing: border-box;
        margin: 15px 0px 0px 0px;
        transition: all .5s ease;
    }

    .input_bike_url {
        width: 200px;
        border: 1px solid #4d4c4c92;
        border-radius: 4px;
        padding: 8px 10px !important;
        outline: none;
        color: black;
        box-sizing: border-box;
        margin: 15px 0px 0px 0px;
        transition: all .5s ease;
    }

    .input_:focus {
        box-shadow: 0px 0px 0px .2rem rgba(0, 123, 255, .25);
    }

    .fileInput {
        margin-top: 0.5rem;
        border: 1px solid #4a464684;
        outline: none;
        padding: 8px 5px !important;
        box-sizing: border-box;
        border-radius: 3px;
        cursor: pointer;
    }

    .imagePreview {
        display: flex;
        margin: 10px 0px 0px 0px;
        gap: 0.5rem;
        flex-wrap: wrap;
    }

    .imagePreview div {
        border: 1px solid #48464661;
        position: relative;
        border-radius: 3px;
    }

    .imagePreview img {
        width: 100px;
        height: 100px;
        object-fit: cover;
        border-radius: 8px;
    }

    .imagePreview button {
        position: absolute;
        top: -8px;
        right: -8px;
        background-color: yellowgreen;
        color: white;
        border: none;
        border-radius: 50%;
        cursor: pointer;
        width: 20px;
        height: 20px;
        font-size: 14px;
    }

    .button {
        margin-top: 1rem;
        padding: 0.6rem 1.5rem;
        background-color: #007bff;
        color: white;
        border: none;
        border-radius: 8px;
        width: 100%;
        cursor: pointer;
        font-size: 1rem;
        cursor: pointer;
        align-self: flex-start;
    }

    .selected {
        width: 100%;
        height: 33px;
        padding: 8px 5px;
        outline: none;
        border-radius: 3px;

        .options {
            background-color: whitesmoke;
            color: rgb(0, 0, 0);
            text-transform: capitalize;
        }

    }
}

.imagePreview {
    display: flex;
    margin: 10px 0px 0px 0px;
    gap: 0.5rem;
    flex-wrap: wrap;
}

.imagePreview div {
    border: 1px solid #48464661;
    position: relative;
    border-radius: 3px;
    width: 120px;
    height: 100px;
}

.imagePreview img {
    object-fit: cover;
    border-radius: 3px;
}

.imagePreview button {
    position: absolute;
    top: -8px;
    right: -8px;
    background-color: yellowgreen;
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    width: 20px;
    height: 20px;
    font-size: 14px;
}

.product_main_box {

    width: 100% !important;
    margin: auto;
    font-family: sans-serif;
    box-sizing: border-box;
    padding: 20px 0px !important;

    .main {
        box-sizing: border-box;
        width: 100%;
        border: 1px solid #9999995c;
        display: flex;
        flex-direction: column;
        height: auto !important;
        gap: 1rem;
        max-width: 700px;
        margin: auto;
        padding: 10px 2rem;
        background-color: #fff;
    }

    .formHeader {
        display: flex;
        align-items: baseline;
        justify-content: left;
        column-gap: 20px;
        flex-direction: row;
        box-sizing: border-box;

        .a {
            width: 30px;
            height: 30px;
            font-size: 20px;
            border: 1px solid #1976d2;
            border-radius: 3px;
            cursor: pointer;
            padding: 3px !important;
            display: flex !important;
            color: white;
            background-color: #1976d2;
            box-sizing: border-box;
            justify-content: center !important;
            align-items: center !important;
            transition: all .5s ease;

            .icon {
                margin-left: 6px !important;
                font-size: 18px !important;
            }

            &:hover {
                opacity: 0.9;
            }
        }

        .heading {
            font-size: 26px;
            padding: 20px 0px 0px 0px;
            font-weight: bold;
            box-sizing: border-box;
            margin: 0px 0px 10px 0px;
            text-align: center;
            color: rgb(39, 39, 39);
        }
    }



    .label {
        font-weight: 500;
        font-size: 14px;
        margin-bottom: -10px;
        display: block;
        color: rgba(48, 47, 47, 0.857);
    }

    .textarea,
    .input {
        padding: 0.5rem 0.75rem;
        border: 1px solid #ccc;
        border-radius: 6px;
        font-size: 1rem;
        transition: all .5s ease;
        outline: none;
    }

    .textarea {
        max-width: 95%;
        min-width: 95%;
        height: auto;
        min-height: 20px;
        max-height: 50px;
        width: 100%;
    }

    .textarea:focus,
    .input:focus {
        box-shadow: 0px 0px 0px .2rem rgba(0, 123, 255, .25);
    }

    .all_inputs {
        padding: 10px 0px !important;
        box-sizing: border-box;
        display: flex;
        flex-wrap: wrap;
        row-gap: 10px;
        justify-content: space-between;
    }

    .input_ {
        width: 200px;
        border: 1px solid #4d4c4c92;
        border-radius: 4px;
        padding: 8px 10px !important;
        outline: none;
        color: black;
        box-sizing: border-box;
        margin: 15px 0px 0px 0px;
        transition: all .5s ease;
    }

    .input_bike_url {
        width: 200px;
        border: 1px solid #4d4c4c92;
        border-radius: 4px;
        padding: 8px 10px !important;
        outline: none;
        color: black;
        box-sizing: border-box;
        margin: 15px 0px 0px 0px;
        transition: all .5s ease;
    }

    .input_:focus {
        box-shadow: 0px 0px 0px .2rem rgba(0, 123, 255, .25);
    }

    .fileInput {
        margin-top: 0.5rem;
        border: 1px solid #4a464684;
        outline: none;
        padding: 8px 5px !important;
        box-sizing: border-box;
        border-radius: 3px;
        cursor: pointer;
    }

    .imagePreview {
        display: flex;
        margin: 10px 0px 0px 0px;
        gap: 0.5rem;
        flex-wrap: wrap;
    }

    .imagePreview div {
        border: 1px solid #48464661;
        position: relative;
        border-radius: 3px;
        width: 120px;
        height: 100px;
    }

    .imagePreview img {
        object-fit: cover;
        border-radius: 3px;
    }

    .imagePreview button {
        position: absolute;
        top: -8px;
        right: -8px;
        background-color: yellowgreen;
        color: white;
        border: none;
        border-radius: 50%;
        cursor: pointer;
        width: 20px;
        height: 20px;
        font-size: 14px;
    }

    .button {
        margin-top: 1rem;
        padding: 0.6rem 1.5rem;
        background-color: #007bff;
        color: white;
        border: none;
        border-radius: 8px;
        width: 100%;
        cursor: pointer;
        font-size: 1rem;
        cursor: pointer;
        align-self: flex-start;
    }

    .button_1 {
        margin-top: 1rem;
        padding: 0.3rem 1.5rem;
        background-color: yellowgreen;
        color: white;
        border: none;
        border-radius: 4px;
        width: 100%;
        cursor: pointer;
        font-size: 16px;
        cursor: pointer;
        align-self: flex-start;
    }

    .selected {
        width: 100%;
        height: 33px;
        padding: 8px 5px;
        outline: none;
        border-radius: 3px;

        .options {
            background-color: whitesmoke;
            color: rgb(0, 0, 0);
            text-transform: capitalize;
        }

    }

    .drop_downBox {
        display: flex;
        flex-direction: row;
        justify-content: left;
        column-gap: 25px;
        align-items: flex-end;

        @media (max-width:768px) {
            flex-direction: column;
            justify-content: left;
        }
    }

    .stock_box {
        width: 100%;
        display: grid;
        align-items: center;
        grid-template-columns: repeat(3, 1fr);
        box-sizing: border-box;

        .quantity_box {
            display: flex;
            flex-direction: column;
            row-gap: 1px;
            padding: 0px 10px !important;
            box-sizing: border-box;

            .label {
                color: black;
                padding: 0px 0px 15px 0px;
                box-sizing: border-box;
            }

            .input {
                padding: 0.4rem 0.75rem;
                border: 1px solid #ccc;
                border-radius: 6px;
                font-size: 1rem;
                transition: all .5s ease;
                outline: none;
            }
        }

        .size {
            display: flex;
            flex-direction: column;
            row-gap: 1px;
            padding: 0px 10px !important;
            box-sizing: border-box;

            .label {
                color: black;
                padding: 0px 0px 15px 0px;
                box-sizing: border-box;
            }

            .selected {
                width: 100%;
                height: 33px;
                padding: 8px 5px;
                outline: none;
                border-radius: 3px;

                .options {
                    background-color: whitesmoke;
                    color: rgb(0, 0, 0);
                    text-transform: capitalize;
                }

            }

            .drop_downBox {
                display: flex;
                flex-direction: row;
                justify-content: left;
                column-gap: 25px;
                align-items: flex-end;

                @media (max-width:768px) {
                    flex-direction: column;
                    justify-content: left;
                }
            }
        }

        .cross_btn {
            width: 50px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            background-color: white;
            color: white;
            border: 1px solid transparent;

            .removeIcon {
                color: white;
                padding: 5px;
                background-color: rgba(245, 66, 66, 0.831);
                font-size: 16px;
                border-radius: 50%;
                border: none;
            }
        }
    }

    .add_main_categroy_box {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 10px;

        .input {
            width: 75%;
            // max-width: ;
            border: 1px solid #4d4c4c92;
            border-radius: 4px;
            padding: 8px 10px !important;
            outline: none;
            color: black;
            box-sizing: border-box;
            margin: 0px 0px 0px 0px;
            transition: all .5s ease;
        }

        .add_btn {
            padding: 10px 10px !important;
            background-color: yellowgreen;
            color: white;
            text-overflow: ellipsis;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            font-size: 15px;
            transition: all .5s ease;

            &:hover {
                opacity: 0.9;
            }
        }
    }

    .stock_box_1 {
        width: 100%;
        display: grid;
        align-items: center;
        grid-template-columns: repeat(2, 1fr);
        box-sizing: border-box;
        margin-bottom: -20px;

        .quantity_box {
            display: flex;
            flex-direction: column;
            row-gap: 1px;
            padding: 0px 10px !important;
            box-sizing: border-box;

            .label {
                color: black;
                padding: 0px 0px 15px 0px;
                box-sizing: border-box;
            }

            .input {
                padding: 0.4rem 0.75rem;
                border: 1px solid #ccc;
                border-radius: 6px;
                font-size: 1rem;
                transition: all .5s ease;
                outline: none;
            }
        }

        .size {
            display: flex;
            flex-direction: column;
            row-gap: 1px;
            padding: 0px 10px !important;
            box-sizing: border-box;

            .label {
                color: black;
                padding: 0px 0px 15px 0px;
                box-sizing: border-box;
            }

            .selected {
                width: 100%;
                height: 33px;
                padding: 8px 5px;
                outline: none;
                border-radius: 3px;

                .options {
                    background-color: whitesmoke;
                    color: rgb(0, 0, 0);
                    text-transform: capitalize;
                }

            }

            .drop_downBox {
                display: flex;
                flex-direction: row;
                justify-content: left;
                column-gap: 25px;
                align-items: flex-end;

                @media (max-width:768px) {
                    flex-direction: column;
                    justify-content: left;
                }
            }
        }

    }

    .add_btn {
        padding: 10px 10px !important;
        background-color: yellowgreen;
        color: white;
        text-overflow: ellipsis;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 15px;
        transition: all .5s ease;

        &:hover {
            opacity: 0.9;
        }
    }
}