.all_bike_main {
  display: flex;
  width: 100% !important;
  max-width: 1200px;
  margin: auto;
  gap: 15px;

  .main_box {
    margin-top: 20px;
    width: 100% !important;
    height: 100%;

    .navigation {
      max-width: 800px;
      height: 30px;
      border: 1px solid grey;
      padding: 10px;
      margin: auto;
      position: relative;
      justify-content: space-between;
      margin-bottom: 20px;
      display: flex;
      align-items: center;

      @media (max-width:900px) {
        width: 95%;
      }

      .bike_text {
        font-size: 16px;
        float: left;
      }

      .swap_button_container {
        .swap_icon {
          font-size: 20px;
          cursor: pointer;
        }
      }
    }
  }
  .card_box{
    @media (max-width:767px) {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  .long_card {
    cursor: pointer;
    border: solid 1px rgb(223, 219, 219);
    background-color: #fff;
    box-shadow: 0 13px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    max-width: 800px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 25px;
    height: 180px;
    padding: 5px;
    margin: auto ;
    margin-bottom: 5px;

    @media (max-width: 767px) {
      display: flex;
      flex-wrap: wrap;
      gap: 0px;
      max-width: 280px;
      margin: 5px auto;
      justify-content: center;
      padding: 0px 0px 0px 0px !important;
      height: auto !important;
    }
    @media (max-width:560px) {
      margin: 5px 5px;
      max-width: 300px;
      min-width: 100px;
      gap: 0px;
      height: auto;
    }

    .bike_image {
      width: 100%;
      max-width: 280px;
      margin:0px auto !important;
      height: 170px;
      padding: 0px;
      img {
        width: 100%;
        height: 100%;

        @media (max-width: 767px) {
          width: 100%;
          max-width: 100%;
          margin: 2px;

          img{
            width: 100%;
            height: 100%;
          }
        }
      }
    }

    .card_info {
      padding: 10px 0px;
      max-width: 700px;
      width: 100%;
      margin: auto;
      display: inline-block;
      height: 170px;


      @media (max-width:767px) {
        max-width: 280px;
        margin: auto;
        height: auto;
        width: 100%;
      }

      .card_title {
        font-size: 16px;
        width: auto;
        padding: 0px 0px 5px 5px ;
        margin: 0px;
        @media (max-width:767px) {
          font-size: 12px;
        }
      }
      
      .card_location {
        margin: 0px;
        font-size: 12px;
        padding: 0px 0px 3px 5px ;
        
        @media (max-width:767px) {
          font-size: 11px;
        }
      }
      
      .card_price_desktop {
        margin: 0px;
        padding: 0px 0px 3px 5px ;
        font-size: 14px;
        width: 30%;

        @media (max-width: 767px) {
          font-size: 11px;
          width: 100%;
          font-weight: none;
        }
      }
      
      .bike_details {
        margin: 0px;
        font-size: 12px;
        padding: 0px 0px 3px 5px;

        @media (max-width:767px) {
          font-size: 10px;
        }
      }
    }
  }
  }
  .viewMoreBtnContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px auto;

    .viewMoreBtn {
      padding: 10px 30px;
      background-color: #1976d2;
      color: #fff;
      font-size: 14px;
      border: none;
      cursor: pointer;
    }

    .viewMoreBtnDisabled {
      pointer-events: none;
    }

  }

  .add_area {
    max-width: 150px;
    margin-top: 20px;

    @media (max-width:768px) {
      display: none;
    }
  }
}