body {
    margin: 0;
    padding: 0;
}


.used_bike_detail_pg {
    .swiper {
        .swiper-button-prev {
            color: black !important;
            &::after {
                font-size: 20px !important;
                font-weight: 500;
            }
        }

        .swiper-button-next {
            color: black !important;
            &::after {
                font-size: 20px !important;
                font-weight: 500;
            }
        }
    }
}


.swiper_card_btn {
    .swiper {
        .swiper-button-prev {
            color: black !important;
            background-color: azure;
            &::after {
                font-size: 20px !important;
                font-weight: 500;
            }
        }

        .swiper-button-next {
            color: black !important;
            background-color: azure;
            &::after {
                font-size: 20px !important;
                font-weight: 500;
            }
        }
    }
}