body {
    margin: 0;
    padding: 0;
}

.noPointerEvent {
    pointer-events: none;
}

.cursorpointer{
    cursor: pointer;
}

.used_bike_detail_pg {
    .swiper {
        .swiper-button-prev {
            color: black !important;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            &::after {
                font-size: 16px !important;
                font-weight: bolder;
            }
        }

        .swiper-button-next {
            color: black !important;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            &::after {
                font-size: 16px !important;
                font-weight: bolder;
            }
        }
    }
}


.swiper_card_con, .swiper_card_brand {
    .swiper {
        .swiper-button-prev {
            color: black !important;
            background-color: azure;
            &::after {
                font-size: 20px !important;
                font-weight: 500;
            }
        }

        .swiper-button-next {
            color: black !important;
            background-color: azure;
            &::after {
                font-size: 20px !important;
                font-weight: 500;
            }
        }
    }
}

.swiper_card_brand {
    .swiper {
        .swiper-wrapper {
            align-items: center;
            .swiper-slide {
                text-align: center;
            }
        }
    }
}

.slider_swiper {
    .swiper {
        .swiper-button-prev {
            color: black !important;
            background: #ffffff;
            border-radius: 50px;
            box-shadow: 2px 0 4px 0 rgba(0, 0, 0, .15);
            height: 35px;
            width: 35px;
            font-size: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            margin-left: -10px;
            border: solid 1px rgb(231, 229, 229);
            transition: all 1s ease;
            @media (max-width:768px) {
                height: 25px;
                width: 25px;
            }
            &.swiper-button-prev:hover{
                background: rgb(240, 240, 240) !important;
            }
            &::after {
                font-size: 10px !important;
                font-weight: 500;
            }
        }

        .swiper-button-next {
            color: black !important;
            background-color: #ffffff;
            border-radius: 50px;
            box-shadow: -1px 0 4px 0 rgba(0, 0, 0, .15);
            height: 35px;
            width: 35px;
            font-size: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            margin-right: -10px;
            border: solid 1px rgb(231, 229, 229);
            transition: all 1s ease;
            @media (max-width:768px) {
                height: 25px;
                width: 25px;
            }
            &.swiper-button-next:hover{
                background: rgb(240, 240, 240) !important;
            }
            &::after {
                font-size: 10px !important;
                font-weight: 500;
            }
        }
    }
}

.MuiBox-root {
    padding-top: 5px !important;
    padding-right: 0px !important;
    padding-left: 0px !important;
}

.header_drawer {
    .MuiTypography-root{
        font-size: 13px !important;
        @media (max-width:768px) {
            font-size: 12px;
        }
        // &:hover {
        //     font-weight: bold;
        // }
    }
    .MuiCollapse-root{
        // padding-left: 20px;
        font-weight: normal !important;
    }
    .MuiListItemText-root,.MuiButtonBase-root{
        font-size: 13px !important;
        // margin-left: 10px;
        @media (max-width:768px) {
            font-size: 12px;
        }
    }
    
    .MuiButtonBase-root{
        padding: 13px !important;
        @media (max-width:768px) {
            font-size: 12px;
        }
    }
    .MuiBox-root{
        padding: 0px !important;
    }
    .MuiList-padding{
        padding-top: 0px !important;
        padding-bottom: 0px !important;

    }
    .MuiSvgIcon-root{
        font-size: 20px !important;
    }
    // .MuiListItemText-primary{
    //     font-size: 13px !important;
    // }
}

.usedbikeDetailSwiper {
    .swiper-wrapper {
        align-items: center;
    }

    .swiper-button-prev {
        color: black !important;
        background-color: rgba(243, 243, 243, 0.322);
        // border-radius: 50px;
        box-shadow: 2px 0 4px 0 rgba(0, 0, 0, .15);
        height: 35px;
        width: 35px;
        margin-left: -10px;
        border: solid 1px rgb(231, 229, 229);
        &::after {
            font-size: 15px !important;
            font-weight: 500;
        }
    }

    .swiper-button-next {
        color: black !important;
        background-color: rgba(243, 243, 243, 0.322);
        // border-radius: 50px;
        box-shadow: -1px 0 4px 0 rgba(0, 0, 0, .15);
        height: 35px;
        width: 35px;
        margin-right: -10px;
        border: solid 1px rgb(231, 229, 229);
        &::after {
            font-size: 15px !important;
            font-weight: 500;
        }
    }
}