@import '../../styles/variable';

.newbike_detail_main {
    width: 100%;
    max-width: 1000px;
    margin: 10px auto;
    box-sizing: border-box;
    padding: 5px 5px 5px 5px !important;
    font-family: sans-serif;
    height: auto;

    .bikre_review_grid {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        // height: 210px;
        // overflow: hidden;

        .bike_image_box {
            width: 100%;
            height: auto;
            padding: 10px;
            display: flex;
            row-gap: 20px !important;
            flex-direction: column;
            justify-content: center;

            @media (max-width:768px) {
                row-gap: 10px !important;
            }

            .title {
                width: 100%;
                text-align: left;
                color: $primary_two;
                font-weight: 600;
                font-size: 30px;

                @media (max-width:768px) {
                    font-size: 18px;
                    font-weight: bold;
                }
            }

            .desc {
                padding: 10px;
                font-size: 12px;
                margin: 10px;
                text-align: justify !important;
                @media (max-width:768px) {
                    text-align: justify !important;
                }
            }

            .bike_image {
                width: 100%;
                height: auto;
                margin: 5px 0px 0px 0px ;
                text-align: center;
                box-sizing: border-box;

                .image {
                    width: auto;
                    box-sizing: border-box;
                    height: 100%;
                    width: 100%;
                    max-height: 429px;

                    @media (max-width:767px) {
                        width: 100%;
                        height: auto;
                    }

                }
            }

            .bike_review_box {
                padding: 10px !important;
                // box-shadow: 0px 0px 5px grey;
                // flex-direction: column;
                margin: 55px 0px 0px 0px !important;
                height: fit-content;
                display: none;
                align-items: center;

                @media (max-width:768px) {
                    border: none;
                    margin: 0px 0px 0px 0px !important;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    box-sizing: border-box;
                    box-shadow: none;
                }

                .price_box {
                    width: 80%;
                    margin: auto;
                    display: flex;
                    flex-direction: column;

                    @media (max-width:768px) {
                        flex-direction: row;
                    }

                    .price {
                        width: 100% !important;
                        border-bottom: 1px solid rgb(203, 199, 199);
                        text-align: center;
                        font-size: 20px;
                        padding: 5px 0px !important;
                        font-weight: bolder;
                        color: $primary_two;
                        margin-bottom: 10px;
                        border-width: 100%;

                        @media (max-width:768px) {
                            font-size: 18px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            border-bottom: none
                        }
                    }

                    .rating_box {
                        width: 100%;
                        border-bottom: 1px solid rgb(203, 199, 199);
                        text-align: center;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: 14px;
                        padding: 10px 0px !important;
                        color: black;

                        @media (max-width:768px) {
                            font-size: 18px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }
                    }
                }

                .view_detail_btn {
                    color: $primary_two;
                    margin-top: 10px;
                    padding: 3px 8px;
                    border-radius: 0px;
                    width: 100%;
                    font-size: 13px;
                    border: 1px solid $primary_two;

                    @media (max-width:768px) {
                        width: 80%;
                        margin: 0px auto 0px auto !important;
                        display: flex;
                        justify-content: center;
                    }
                }
            }

            .bike_information_grid1 {
                .title {
                    width: 100%;
                    text-align: left;
                    padding: 10px 0px 0px 10px;
                    color: $primary_two;
                    font-size: 18px;

                    @media (max-width:768px) {
                        padding: 10px 0px 0px 5px;
                        font-size: 16px;
                    }
                }

                .information_table {
                    display: flex;
                    justify-content: space-between;
                    gap: 10px;

                    .table {
                        width: 95%;
                        border-collapse: collapse;
                        margin: 10px 5px 10px 5px !important;
                        text-align: center;
                        
                        @media (max-width:767px) {
                            border-radius: 10px;
                            overflow: hidden;
                            box-shadow: 0px 0px 10px rgba(161, 158, 158, 0.607);
                            width: 98%;
                        }

                        .tr {
                            border-bottom: 1px solid #e0e0e0;
                            border: 1px solid #000;
                            .column:nth-child(1){
                                border-top-left-radius: 10px !important;
                            }
                            .column {
                                text-wrap: wrap;
                                padding: 10px 12px 10px 8px;
                                text-align: left;
                                font-size: 12px;
                                border: 1px solid #ddd;

                                @media (max-width:768px) {
                                    font-size: 12px;
                                    width: 100px;
                                }
                            }
                        }
                    }
                }

            }

            .bike_video_box {
                width: 100%;
                padding: 10px 10px 10px 10px;

                .bike_video {
                    width: 100%;
                    margin: auto;
                    height: 315px !important;
                    border: none;
                    padding: 0px;
                    margin: 0px;
                    border-radius: 10px;
                    box-sizing: border-box;
                    box-shadow: 0px 0px 10px rgb(210, 207, 207);
                    @media (max-width:768px) {
                        height: 200px !important;
                    }
                }
            }
        }

        .all_adds_review_box {
            display: flex;
            flex-direction: column;
            row-gap: 20px !important;

            @media (max-width:768px) {
                row-gap: 10px !important;
            }

            .bike_review_box {
                padding: 10px !important;
                // box-shadow: 0px 0px 5px grey;
                flex-direction: column;
                margin: 12px 0px 0px 0px !important;
                height: fit-content;
                // min-height: 408px;

                @media (max-width:768px) {
                    border: none;
                    margin: 10px 10px 0px 10px !important;
                    box-sizing: border-box;
                    box-shadow: none;
                }

                .price_box {
                    display: flex;
                    flex-direction: column;

                    @media (max-width:768px) {
                        flex-direction: row;
                    }

                    .price {
                        width: 100%;
                        border-bottom: 1px solid rgb(203, 199, 199);
                        text-align: center;
                        font-size: 20px;
                        padding: 5px 0px !important;
                        font-weight: bolder;
                        color: $primary_two;

                        @media (max-width:768px) {
                            font-size: 18px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }
                    }

                    .rating_box {
                        width: 100%;
                        border-bottom: 1px solid rgb(203, 199, 199);
                        text-align: center;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: 14px;
                        padding: 10px 0px !important;
                        color: black;

                        @media (max-width:768px) {
                            font-size: 18px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }
                    }
                }

                .comment_box {
                    margin: 5px 0px;
                    width: 100%;
                    border-bottom: 1px solid rgb(213, 206, 206);
                    text-align: left;
                    font-size: 14px;
                    text-align: center;
                    font-weight: bold;
                    padding: 15px 0px 15px 0px !important;
                    color: rgb(14, 13, 13);

                    @media (max-width:768px) {
                        font-size: 13px;
                    }

                    .comment_box_data {
                        display: flex;
                        justify-content: flex-start;
                        text-align: left;
                        margin-bottom: 0px;
                        margin-top: 0px;

                        // align-items: center;
                        .data_heading {
                            font-size: 14px;
                            font-weight: bolder;
                            color: black;
                            padding: 5px 0px;
                        }

                        .data_comment {
                            font-size: 14px;
                            color: black !important;
                            padding: 5px 0px;
                        }

                        .data_text {
                            padding: 7px;
                            font-size: 13px;
                            color: black;
                        }

                        .data_date {
                            font-size: 10px;
                            width: 100%;
                            text-align: right;
                        }
                    }
                }

                .view_detail_btn {
                    color: $primary_two;
                    margin-top: 10px;
                    // padding: 3px 8px;
                    border-radius: 0px;
                    width: 100%;
                    font-size: 13px;
                    border: 1px solid $primary_two;

                    @media (max-width:768px) {
                        width: 80%;
                        margin: 0px auto 0px auto !important;
                        display: flex;
                        justify-content: center;
                    }
                }
            }

            .dealers_box {
                display: flex;
                flex-direction: column;
                justify-content: center;
                @media (max-width:768px) {
                    // border: 1px solid #bab7b778;
                    margin: 0px 10px !important;
                    padding: 0px 0px 5px 0px !important;
                    box-sizing: border-box;
                }

                .heading {
                    width: 100%;
                    text-align: center;
                    font-size: 16px;
                    font-weight: bolder;
                    font-family: sans-serif;
                    padding: 10px 0px 5px 0px !important;
                    // border-bottom: 1px solid #d7d2d2;
                }

                .Dealers_card {
                    margin-top: 10px;
                    display: flex;
                    padding: 10px 10px 10px 10px !important;
                    flex-wrap: wrap;
                    justify-content: left;
                    column-gap: 10px;
                    box-shadow: 0px 0px 5px rgb(134, 131, 131);
                    @media (max-width:768px) {
                        box-shadow: none;
                        margin-top: 0px;
                    }

                    .card_main {
                        width: 95%;
                        border-radius: 5px;
                        box-shadow: 0px 0px 10px rgba(128, 128, 128, 0.21);
                        border: 1px solid #dfdada;
                        margin: 5px 0px 5px 0px;
                        height: 60px;
                        display: flex;
                        justify-content: left;
                        flex-direction: row;
                        text-align: left;
                        padding: 0px 10px 0px 10px !important;
                        align-items: center;

                        .card_image {
                            width: 40px;
                            height: auto;

                            @media (max-width:768px) {
                                padding: 10px 0px 10px 0px;
                                width: 50px;
                            }
                        }

                        .card_text {
                            display: inline-block;
                            justify-content: center;
                            align-items: center;
                            padding: 0px !important;
                            margin: 0px !important;
                            width: 100%;

                            .card_title {
                                font-size: 12px;
                                font-weight: bold;
                                color: grey;
                                white-space-collapse: collapse;
                                padding: 0px 0px 0px 10px;

                                @media (max-width:768px) {
                                    font-size: 11px;
                                }
                            }

                            .card_location {
                                font-size: 12px;
                                font-weight: bolder;
                                color: black;
                                padding: 0px 0px 0px 10px;

                                @media (max-width:768px) {
                                    font-size: 11px;
                                }
                            }
                        }

                        @media (max-width:768px) {
                            width: 45%;
                            height: 80px;
                            padding: 10px 0px 10px 0px !important;
                            flex-direction: column;
                            text-align: center;
                        }
                    }
                }

                .view_detail_btn {
                    color: $primary_two;
                    margin-top: 10px;
                    border-radius: 1px;
                    padding: 0px 0px;
                    width: 100%;
                    font-size: 13px;
                    border: 1px solid $primary_two;
                    background-color: transparent;

                    .Link_tag {
                        padding: 3px 0px;
                        width: 100%;
                        text-decoration: none;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }

                    @media (max-width:768px) {
                        padding: 3px 4px;
                        margin: 10px auto 0px auto !important;
                        display: flex;
                        font-size: 13px;
                        justify-content: center;
                        width: 80%;

                        .Link_tag {
                            padding: 1px 0px;
                        }
                    }
                }
            }



        }

    }
}

.other_card {
    width: 100%;
    max-width: 1000px;
    margin: auto;
}

.other_card_title {
    margin-left: 10px;
    text-transform: capitalize !important;
    font-size: 20px;
    font-weight: bolder;
}

.load_main {
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .load_div {
        border: 1px solid #000;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;

    }
}

@media (max-width:768px) {
    .load_main {
        width: 100%;
        height: 50vh;
        display: flex;
        justify-content: center;
        align-items: center;

        .load_div {
            border: 1px solid #000;
            height: auto;
            display: flex;
            justify-content: center;
            align-items: center;

        }
    }
}

.feature_section_newbikes {
    max-width: 1035px;
    margin: auto;
}

.review_section_newbikes {
    max-width: 1000px;
    margin: auto;
}