.filter_box {
    height: fit-content;
    box-shadow: 0px 0px 5px rgb(183, 181, 181);
    max-width: 200px;
    padding: 0px !important;
    margin-top: 20px;
    @media (max-width:768px) {
      display: none;
    }

    .heading_resultby {
      width: 200px;
      background: #1976d2;
      padding: 10px 0px !important;
      color: rgb(255, 255, 255);
      text-align: center;
    }
    .heading_brand ,.heading_years{
      border-top: 1px solid rgb(235, 231, 231);
    }
    .heading_city ,.heading_brand,.heading_years{
      width: 200px;
      border-bottom: 1px solid rgb(235, 231, 231);
      padding: 9px 0px !important;
      color: black;
      margin-top: 5px;

      .city_text,.brand_text,.years_text {
        padding-left: 10px;
        font-size: 12px;
      }

    }
    .city_options ,.brand_options,.years_options{
      width: 200px;
      padding: 15px 0px !important;
      color: black;
      margin-top: 5px;
      font-size: 12px;
      
      .option_values{
        gap: 5px;
        width: 100%;
        display: flex;
        align-items: center;
        padding: 2px 0px 2px 10px !important;
        font-size: 12px;
      }
      .option_values .MuiMenuItem-root {
        font-size: 12px;
        padding: 4px 10px;
      }
      .option_values .MuiMenuItem-root:hover {
        background-color: #f0f0f0;
    }
      .seeMore{
        color: #1976d2;
        padding: 5px 0px 5px 13px !important;
        font-size: 12px;
        cursor: pointer;
      }
    }
  }