.card_main{
    width: 150px;
    height: 150px;
    padding: 0px !important;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    .card_image{
        width: 50px !important;
        height:45px;
        @media (max-width:768px) {
            width:40px !important;
            height: 40px !important;
        }
    }
    .card_title{
        font-size: 12px;
    }
    @media (max-width:768px) {
        width:80px;
        height: 80px;
    }
    .card_title{
        font-size: 12px;
    }
}