.filter_main {
    width: 100%;
    box-sizing: border-box;
    padding: 0px 10px 0px 10px !important;
    

    .by_brand {
        margin: 10px 0px;
        padding: 0px 5px 0px 5px !important;
        border: 1px solid #d2d2d2d2;
        box-sizing: border-box;

        .filter_heading {
            font-size: 16px;
            border-bottom: 1px solid #d2d2d2;
            font-weight: bolder;
            text-align: center;
            color: #1976d2;
            margin: 0px 0px 15px 0px!important;
            padding: 20px 0px 20px 0px;
        }
        .city_options {
            height: 42vh;
            overflow-y: auto;
            overflow-x: hidden;
            width: 80%;
            margin: auto;
            color: #1976d2;
            box-sizing: border-box;
            scroll-behavior: smooth;

            &::-webkit-scrollbar {
                width: 6px;
            }
            &::-webkit-scrollbar-thumb {
                background-color: #1976d2;
                border-radius: 10px;
            }
            &::-webkit-scrollbar-track {
                background-color: #f0f0f0;
            }
    
        
            .option_values {
                gap: 5px;
                width: 100% !important;
                margin: 2px 0px;
                display: flex;
                align-items: center;
                padding: 0px 0px 0px 0px !important;
                font-size: 12px;
            }
        }
        .brand_filter{
            color: white;
            cursor: pointer;
            border: none;
            display: flex;
            margin:20px auto 10px auto;
            background: #1976d2;
            border-radius: 0px;
            font-size: 12px;
            padding: 8px 15px;
        }
    }
}
