.explore_main {
    width: 100%;
    padding: 50px 0px;
    max-width: 1060px;
    margin-left:auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    
    .explore_container {
        width: 100%;
        .explore_heading{
            font-size: 24px;
            font-weight: bolder;
            color: black;
            padding: 5px 0px;
            @media (max-width:768px) {
                font-size: 20px;
            }
        }
        .explore_grid {
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            column-gap: 30px;
            row-gap: 5px;
            margin: 5px auto;
            width: 90%;
            @media (max-width: 768px) {
                flex-direction: column;
                width: 100%;
            }
        }
    }
}
