@import '../../stylesForum/variable';

.home_main{
    width: 100%;
    max-width: 1000px;
    box-shadow: 0px 0px 10px rgb(154, 152, 152);
    margin: 10px auto;
    height: auto;
    padding: 10px 0px;
}