.bike_sec_main{
    width: 100%;
    height: auto;
    padding: 5px 0px 5px 0px;
    max-width: 1060px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 10px;
    
    .heading {
        padding: 0px !important;
        font-weight: 700;
        color: black;
        padding: 10px 0px;
        margin-bottom: 0px;
        font-size: 21px;
        @media (max-width:768px) {
            font-size: 19px;
            display: flex;
            justify-content: space-between;
        }

        .view_new_bik_btn {
            @media (min-width:768px) {
                display: none;
            }
            text-decoration: none;
            font-size: 11px;
            margin: auto;
            padding: 10px 0px;
            font-weight: 500;
            margin: 0px 5px;
            border-radius: 0px;
            color: rgb(25, 118, 210);
        }

    }

    .tab {
        padding: 0px !important;
    }
}