@import '../../styles/variable';

.blog_main {
   padding: 10px 20px 10px 20px !important;
   box-sizing: border-box;
   width: 100%;
   height: auto;
   font-family: sans-serif !important;
   max-width: 1180px;
   margin: auto;

   @media (max-width:768px) {
      padding: 10px 5px 10px 5px !important;
   }
}

.blog_header {
   display: flex;
   align-items: center;
   justify-content: space-between;
   box-sizing: border-box;
   padding: 0px 0px 10px 0px !important;

   @media (max-width:768px) {
      padding: 10px 10px 10px 10px !important;
      box-sizing: border-box;
         flex-direction: column;

   }

   .FrontAdd_box {

      margin: 0px 0px !important;
      padding: 0px 0px !important;
      display: flex;
      justify-content: space-between;
      align-items: center;

      @media (max-width:768px) {
         width: 100%;
      }

      .input_main {
         width: 100%;
         max-width: 330px;
         display: flex;
         margin: 0px;
         flex-direction: row;

         @media (max-width:500px) {
            width: 100% !important;
            max-width: 100% !important;
         }

         .input {
            width: 100%;
            max-width: 220px;
            border-radius: 0px;
            outline: none;
            padding: 7px 7px 7px 10px;
            font-size: 16px;
            border: 1px solid #65606090;
            background-color: transparent;

            @media (max-width:500px) {
               padding: 7px 7px 7px 10px;
               max-width: 100% !important;
               width: 100% !important;
               margin-right: 2px;
            }
         }

         .button {
            border: 1px solid #000;
            width: 80%;
            background-color: $primary_two;
            color: white;
            border: 1px solid $primary_two;
            max-width: 100px;
            text-transform: uppercase;
            border-radius: 0px;
            cursor: pointer;
         }
      }
   }


   .blog_heading {
      display: flex;
      align-items: center;
      gap: 10px;
      font-size: 15px;
      width: 100%;
      text-align: left;
      @media (max-width:768px) {
         padding: 0px 0px 5px 0px;
         // display: none;
      }

      .static {
         margin: 0;
         font-size: 14px;
         font-weight: 600;
      }

      .text {
         margin: 0;
         font-size: 14px;
         font-weight: normal;
         transition: all 0.5s ease;
         position: relative;
      }

      .fadeIn {
         opacity: 1;
         transform: translateX(0);
      }

      .fadeOut {
         opacity: 0;
         transform: translateX(30px);
      }
   }
}

.card_grid_main {
   padding: 15px;
   box-sizing: border-box;
   display: flex;
   flex-direction: column;
   justify-content: center;

   @media (max-width:768px) {
      padding: 10px !important;
      box-sizing: border-box;
   }
}

.blog_grid {
   padding: 0px 0px 0px 0px !important;
   display: flex;
   justify-content: space-between;

   @media (max-width:768px) {
      justify-content: center !important;
      padding: 0px 0px 0px 0px !important;
   }

   .blog_grid1 {
      border-bottom: 1px solid rgb(235, 231, 231);
      display: flex;
      align-items: center;
      margin: auto;
      // padding: 0px 0px 22px 0px !important;
      // margin: 15px 0px 25px 0px;

      @media (max-width:768px) {
         // box-shadow: 0px 0px 10px rgb(228, 227, 227);
         margin: 0px auto 20px auto;
         // border: 1px solid #000;
         padding: 0px 0px 0px 0px !important;
      }

      .grid1_child1 {
         display: flex;
         height: 100%;
         padding: 0px !important;
         align-items: center;

         .blog_images {
            width: 100%;
            max-width: 300px;
            height: 182px;
         }

         @media (max-width:768px) {
            height: auto !important;
            align-items: start;

            .blog_images {
               width: 100%;
               max-width: 100%;
               height: 200px !important;
            }
         }
      }

      .grid1_child2 {
         display: flex;
         align-items: start;
         padding: 0px 0px 0px 10px !important;

         @media (max-width:768px) {
            padding: 10px 0px 0px 0px !important;

         }

         .blog_card_title {
            transition: all 1s ease;
            box-sizing: border-box;
            font-family: sans-serif;
            font-weight: 600;
            font-size: 20px;
            padding: 0px 0px 0px 5px;
            margin: 0px 0px 10px 0px;

            @media (max-width:768px) {
               padding: 0px !important;
            }
         }

         .blog_card_date {
            font-size: 12px;
            color: #9B9B9B;
            padding: 4px 0px 0px 5px;
            font-family: sans-serif;

            @media (max-width:768px) {
               padding: 0px !important;
            }
         }

         .blog_card_description {
            font-size: 14px;
            font-family: sans-serif;
            color: #3c3c3c;
            margin: 10px 0px 0px;
            padding: 0px 0px 0px 5px;

            @media (max-width:768px) {
               padding: 0px !important;
            }
         }
      }
   }

   .blog_grid1:hover {
      .grid1_child2 {
         .blog_card_title {
            color: $primary_two;
            cursor: pointer;
         }
      }
   }

   .blog_grid2 {
      padding: 10px;
      box-sizing: border-box;

      @media (max-width:768px) {
         display: none;
      }

      .add_area_content {
         box-sizing: border-box;

         .shortBlog_main {
            padding: 0px 0px !important;
            box-sizing: border-box;
            overflow: hidden;
            margin: 0px 0px 20px 0px !important;

            .shortblogheading {
               font-size: 24px;
               font-family: sans-serif;
               font-weight: bolder;
               color: #444444;
               margin: 0px !important;
               padding: 0px !important;
               width: 100%;
               display: flex;
               justify-content: left;
               align-items: center;
               text-overflow: ellipsis;
               white-space: nowrap;
               column-gap: 10px;

               .underline {
                  height: 0px;
                  border: 2px solid #00000012;
                  background-color: #00000012;
                  width: 100%;
               }
            }

            .shot_blog_card {
               display: grid;
               grid-template-columns: 100px 1fr;
               column-gap: 5px;
               box-sizing: border-box;
               margin: 13px 0px 0px 0px;

               .image_box {
                  height: 63px;

                  .image {
                     height: 63px;
                     width: 100%;
                  }
               }

               .title_box {
                  display: flex;
                  align-items: flex-start;

                  .title {
                     color: #223c7b;
                     font-weight: 600;
                     margin: 0px;
                     padding: 0px;
                     font-size: 14px;
                     box-sizing: border-box;
                  }
               }
            }
         }

         .btn {
            width: 100%;
            background-color: #1976d2;
            color: white;
            text-transform: uppercase;
            font-weight: bold;
            text-decoration: none;
            margin: 5px 0px;
            box-sizing: border-box;
         }

         .tags_main {
            padding: 20px 0px !important;
            box-sizing: border-box;

            .shortblogheading {
               font-size: 24px;
               font-family: sans-serif;
               font-weight: bolder;
               color: #444444;
               margin: 0px !important;
               padding: 0px !important;
               display: flex;
               justify-content: left;
               flex-direction: row;
               align-items: center;
               text-overflow: ellipsis;
               white-space: nowrap;
               column-gap: 10px;
               width: 100%;

               .underline {
                  height: 0px;
                  border: 2px solid #00000012;
                  background-color: #00000012;
                  width: 100%;
               }
            }

            .tags_content {
               display: flex;
               flex-wrap: wrap;
               justify-content: left;
               padding: 20px 0px !important;
               box-sizing: border-box;
               gap: 10px;

               .tags_btn {
                  background-color: white;
                  border: 1px solid #dedede;
                  border-radius: 0px;
                  text-transform: capitalize;
                  color: #444444;
                  font-family: random($limit: 010);
                  font-size: 12px;
                  font-family: sans-serif;
                  padding: 2px 10px;
                  box-sizing: border-box;
                  transition: all .5s ease;

                  &:hover {
                     background-color: #1976d2;
                     color: white;
                     border: 1px solid #1976d2;
                  }
               }

               .tags_select_btn {
                  background-color: #1976d2;
                  border: 1px solid #1976d2;
                  border-radius: 0px;
                  text-transform: capitalize;
                  color: white;
                  font-size: 12px;
                  font-family: sans-serif;
                  padding: 2px 10px;
                  box-sizing: border-box;
                  transition: all .5s ease;

               }
            }

         }
      }
   }
}

@media (max-width: 768px) {


   .blog_grid1 {
      width: 100%;
   }

   .grid1_child1,
   .grid1_child2 {
      width: 100%;
   }

   .blog_grid2 {
      width: 100%;
   }
}

.pagination {
   display: flex;
   justify-content: center;
   margin-top: 10px;
}

.load_main {
   width: 100%;
   height: 70vh;
   display: flex;
   justify-content: center;
   align-items: center;

   .load_div {

      height: auto;
      display: flex;
      justify-content: center;
      align-items: center;

   }
}

@media (max-width:768px) {
   .load_main {
      width: 100%;
      height: 50vh;
      display: flex;
      justify-content: center;
      align-items: center;

      .load_div {

         height: auto;
         display: flex;
         justify-content: center;
         align-items: center;

      }
   }
}

.blog_grid1_container {
   padding: 22px 0px 0px 0px !important;
   margin: 15px 0px 25px 0px;
   box-sizing: border-box;

   @media (max-width:768px) {
      margin: 0px 0px 5px 0px;
      padding: 0px 0px 15px 0px !important;
   }
}

.shortblogheading {
   font-size: 24px;
   font-family: sans-serif;
   font-weight: bolder;
   color: #444444;
   padding: 0px !important;
   display: flex;
   justify-content: left;
   flex-direction: row;
   align-items: center;
   text-overflow: ellipsis;
   white-space: nowrap;
   column-gap: 10px;
   width: 100%;

   .underline {
      height: 0px;
      border: 2px solid #00000012;
      background-color: #00000012;
      width: 100%;
   }
}