@import '../../styles/variable';

@font-face {
   font-family: 'Lato';
   src: url('/fonts/Lato-Regular.ttf') format('truetype');
   font-weight: 400;
   font-style: normal;
}

@font-face {
   font-family: 'LatoBold';
   src: url('/fonts/Lato-Bold.ttf') format('truetype');
   font-weight: 400;
   font-style: normal;
}

@font-face {
   font-family: 'OpenSans';
   src: url('/fonts/OpenSans-Bold.ttf') format('truetype');
   //   src: url('/fonts/OpenSans-Regular.ttf') format('truetype');
   font-weight: 400;
   font-style: normal;
}

.blog_main {
   padding: 10px 10px 10px 10px !important;
   box-sizing: border-box;
   width: 100%;
   height: auto;
   font-family: sans-serif !important;
   max-width: 1200px;
   margin: auto;

   @media (max-width:768px) {
      padding: 10px 5px 10px 5px !important;
   }
}

.blog_header {
   display: flex;
   align-items: center;
   justify-content: space-between;
   box-sizing: border-box;
   padding: 0px 0px 10px 0px !important;

   @media (max-width:768px) {
      padding: 10px 10px 10px 10px !important;
      box-sizing: border-box;
      flex-direction: column;

   }

   .blog_heading {
      display: flex;
      align-items: center;
      gap: 10px;
      font-size: 15px;
      font-family: 'lato', sans-serif;
      width: 100%;
      text-align: left;

      @media (max-width:768px) {
         padding: 0px 0px 5px 0px;
         // display: none;
      }

      .static {
         margin: 0;
         font-size: 12px;
         font-family: 'latoBold';
         line-height: 10px;
         text-transform: uppercase;
         color: #070707;
         display: flex;
         align-items: center;
         letter-spacing: 1px;

         // font-weight: 600 !important;
         .icon {
            font-size: 14px;
         }
      }

      .text {
         margin: 0;
         color: #696969;
         font-size: 12px;
         font-family: 'lato', sans-serif;
         font-weight: 500;
         transition: all 0.5s ease;
         position: relative;
         cursor: pointer;
      }

      .fadeIn {
         opacity: 1;
         transform: translateX(0);
      }

      .fadeOut {
         opacity: 0;
         transform: translateX(30px);
      }
   }
}

.card_grid_main {
   padding: 10px 10px 10px 15px !important;
   box-sizing: border-box;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;

   @media (max-width:768px) {
      padding: 10px !important;
      box-sizing: border-box;
   }
}

.blog_grid {
   padding: 0px 0px 0px 0px !important;
   display: flex;
   justify-content: space-between;

   @media (max-width:768px) {
      justify-content: center !important;
      padding: 0px 0px 0px 0px !important;
   }

   .blog_grid1 {
      border-bottom: 1px solid rgb(235, 231, 231);
      display: flex;
      align-items: center;
      margin: auto;
      box-shadow: 0 0.5rem 1rem rgba(58, 57, 57, 0.15) !important;
      margin-top: 10px;

      @media (max-width:768px) {
            padding: 0px 0px 0px 0px !important;
            margin: 15px 0px 17px 0px;
      }

      .grid1_child1 {
         display: flex;
         height: 100%;
         padding: 0px !important;
         align-items: center;

         .blog_images {
            width: 100%;
            border: 1px solid #b0b0b0c6;
            border-radius: 5px;
            max-width: 300px;
            height: 182px;
            margin-left: 10px;
            @media (max-width:768px) {
               margin-left: 0px;
            }
         }

         @media (max-width:768px) {
            height: auto !important;
            align-items: start;

            .blog_images {
               width: 100%;
               max-width: 100%;
               height: 200px !important;
            }
         }
      }

      .grid1_child2 {
         display: flex;
         align-items: start;
         padding: 0px 10px 0px 20px !important;

         @media (max-width:768px) {
            padding: 10px 10px 0px 10px !important;
         }

         .blog_card_title {
            transition: all 1s ease;
            box-sizing: border-box;
            // font-family: none;
            font-family: 'LatoBold';
            font-size: 20px;
            line-height: 29px;
            letter-spacing: 1px;
            padding: 0px 0px 0px 5px;
            margin: 0px 0px 10px 0px;

            .link_title {
               // color: #000000;
               color: #333;
               transition: all 1s ease;
               text-decoration: none;
            }

            @media (max-width:768px) {
               padding: 0px !important;
            }
         }

         .blog_card_date {
            font-size: 12px;
            display: flex;
            align-items: center !important;
            font-family: 'Lato', sans-serif;
            color: #9B9B9B;
            padding: 4px 0px 0px 5px;

            @media (max-width:768px) {
               padding: 0px !important;
            }
         }

         .blog_card_description {
            font-size: 14px;
            font-family: 'Lato', sans-serif;
            color: #3c3c3c;
            margin: 10px 0px 0px;
            padding: 0px 0px 0px 5px;
            letter-spacing: 1px;

            @media (max-width:768px) {
               padding: 0px !important;
            }
         }
      }
   }

   .blog_grid1:hover {
      .grid1_child2 {
         .blog_card_title {
            color: $primary_two;
            cursor: pointer;

            .link_title {
               color: $primary_two;
            }
         }
      }
   }

   .blog_grid2 {
      padding: 5px;
      box-sizing: border-box;

      @media (max-width:768px) {
         display: none;
      }

      .add_area_content {
         box-sizing: border-box;
         display: flex;
         flex-direction: column;
         row-gap: 30px !important;

         .shortBlog_main {
            padding: 0px 0px !important;
            box-sizing: border-box;
            overflow: hidden;
            margin: 0px 0px 20px 0px !important;

            .shortblogheading {
               font-size: 24px;
               font-family: 'LatoBold', sans-serif;
               color: #444444;
               margin: 0px !important;
               padding: 10px 0px 0px 0px !important;
               width: 100%;
               display: flex;
               box-sizing: border-box;
               justify-content: left;
               align-items: center;
               text-overflow: ellipsis;
               white-space: nowrap;
               column-gap: 10px;

               .underline {
                  height: 0px;
                  border: 2px solid #00000012;
                  background-color: #00000012;
                  width: 100%;
               }
            }

            .shot_blog_card {
               display: grid;
               grid-template-columns: 90px 1fr;
               column-gap: 5px;
               box-sizing: border-box;
               margin: 13px 0px 0px 0px;

               .image_box {
                  height: 63px;

                  .image {
                     height: 63px;
                     width: 100%;
                  }
               }

               .title_box {
                  display: flex;
                  align-items: flex-start;

                  .title {
                     color: #223c7b;
                     font-family: 'OpenSans';
                     // font-family: 'LatoBold' , sans-serif;
                     // font-weight: 600;
                     margin: 0px;
                     padding: 0px 0px 0px 5px;
                     font-size: 14px;
                     box-sizing: border-box;
                  }
               }
            }
         }

         .btn {
            width: 100%;
            max-width: 280px;
            background-color: #1976d2;
            color: white;
            cursor: pointer;
            font-size: 16px;
            padding: 7px 0px;
            text-transform: capitalize;
            font-family: 'LatoBold';
            text-decoration: none;
            margin: 10px auto 10px auto !important;
            box-sizing: border-box;
            border: 1px solid #1976d2;
            border-radius: 5px;
         }

         .tags_main {
            width: 100%;
            max-width: 300px;
            margin: auto;
            padding: 20px 0px !important;
            box-sizing: border-box;

            .shortblogheading {
               font-size: 24px;
               font-family: 'LatoBold', sans-serif;
               color: black;
               margin: 0px 0px 10px 0px  !important;
               padding: 0px !important;
               display: flex;
               justify-content: left;
               flex-direction: row;
               align-items: center;
               text-overflow: ellipsis;
               white-space: nowrap;
               column-gap: 10px;
               width: 100%;

               // .underline {
               //    height: 0px;
               //    border: 2px solid #00000012;
               //    background-color: #00000012;
               //    width: 100%;
               // }
            }

            .tags_content {
               width: 100%;
               height: auto;
               display: flex;
               // border: 1px solid #d1d0d0;
               box-shadow: 0px 0px 10px whitesmoke;
               border-radius: 10px;
               flex-wrap: wrap;
               // background-color: whitesmoke;
               justify-content: left;
               padding: 10px 10px !important;
               box-sizing: border-box;
               row-gap: 8px;
               column-gap: 5px;

               .tags_btn {
                  background-color: white;
                  border: 1px solid #dad7d7;
                  border-radius: 0px;
                  text-transform: capitalize;
                  color: #444444;
                  font-family: random($limit: 010);
                  font-size: 12px;
                  font-family: 'Lato';
                  padding: 4px 10px;
                  box-sizing: border-box;
                  transition: all .5s ease;

                  &:hover {
                     background-color: #1976d26d;
                     color: white;
                     border: 1px solid #1976d2;
                  }
               }

               .tags_select_btn {
                  background-color: #1976d2;
                  border: 1px solid #1976d2;
                  border-radius: 0px;
                  text-transform: capitalize;
                  color: white;
                  font-size: 12px;
                  font-family: sans-serif;
                  padding: 2px 10px;
                  box-sizing: border-box;
                  transition: all .5s ease;

               }
            }

         }
      }
   }
}

@media (max-width: 768px) {


   .blog_grid1 {
      width: 100%;
   }

   .grid1_child1,
   .grid1_child2 {
      width: 100%;
   }

   .blog_grid2 {
      width: 100%;
   }
}

.pagination {
   display: flex;
   justify-content: center;
   margin-top: 10px;
}

.load_main {
   width: 100%;
   height: 70vh;
   display: flex;
   justify-content: center;
   align-items: center;

   .load_div {

      height: auto;
      display: flex;
      justify-content: center;
      align-items: center;

   }
}

@media (max-width:768px) {
   .load_main {
      width: 100%;
      height: 50vh;
      display: flex;
      justify-content: center;
      align-items: center;

      .load_div {

         height: auto;
         display: flex;
         justify-content: center;
         align-items: center;

      }
   }
}

.blog_grid1_container {
   padding: 0px 0px 0px 0px !important;
   margin: 20px 0px 10px 0px;
   box-sizing: border-box;

   @media (max-width:768px) {
      margin: 0px 0px 5px 0px;
      padding: 0px 0px 15px 0px !important;
   }
}

.shortblogheading {
   font-size: 24px;
   font-family: sans-serif;
   font-weight: bolder;
   color: #444444;
   padding: 0px !important;
   display: flex;
   justify-content: left;
   flex-direction: row;
   align-items: center;
   text-overflow: ellipsis;
   white-space: nowrap;
   column-gap: 10px;
   width: 100%;

   .underline {
      height: 0px;
      border: 2px solid #00000012;
      background-color: #00000012;
      width: 100%;
   }
}

   .input_main_box {
      width: 100%;
      max-width: 350px;
      display: flex;
      margin: 0px;
      flex-direction: row;
      margin-bottom: 20px;
      box-shadow: 0 0.2rem 0.2rem rgba(58, 57, 57, 0.15) !important;

      @media (max-width:500px) {
         max-width: 250px;
         width: 100% !important;
         max-width: 100% !important;
      }

      .input {
         width: 100%;
         border-radius: 0px;
         outline: none;
         padding: 9px 7px 9px 10px;
         font-size: 15px;
         border: 1px solid #b6b5b590;
         background-color: transparent;
         border-radius: 7px;

         @media (max-width:500px) {
            padding: 7px 7px 7px 10px;
            max-width: 100% !important;
            width: 100% !important;
            margin-right: 2px;
         }
      }
   }