.card_main {
    width: 160px !important;
    height: 120px;
    padding: 0px !important;
    text-align: center;
    text-decoration: none !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    cursor: pointer;

    @media (max-width:768px) {
        width: 95px !important;
        height: 100px !important;
        justify-content: space-between;
    }

    .card_image {
        box-sizing: border-box;
        width: 100% !important;
        height: auto !important;
        flex-shrink: initial;
        margin: 0px auto 0px auto;
        display: flex;
        align-items: center;
        justify-content: center;

        @media (max-width:768px) {
            width: 100% !important;
            height: auto !important;

        }

        .image {
            width: 60%;
            margin: 0px 0px 10px;
            height: auto;
        }
    }
}