.main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 10px !important;
    box-sizing: border-box;


    .container {
        width: 100%;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        row-gap: 15px;
        padding: 5px 10px !important;
        box-sizing: border-box;
        box-shadow: 0px 0px 10px rgba(128, 128, 128, 0.292);

        .heading_div {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px 0px !important;
            box-sizing: border-box;

            .heading {
                display: flex;
                justify-content: left;
                align-items: center;
                column-gap: 5px;
                box-sizing: border-box;

                .icon {
                    background-color: rgb(223, 221, 221);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50%;
                    font-size: 20px;
                    padding: 5px !important;
                    width: 40px;
                    height: 40px;
                    border: none;
                }

                .text {
                    font-family: sans-serif;
                    font-size: 18px;
                    font-weight: 600;
                    padding: 0px !important;
                    margin: 0px !important;
                }
            }

            .view_all{
                font-size: 14px;
                font-family: sans-serif;
                text-decoration: none;
                padding-right: 10px !important;
                box-sizing: border-box;
            }
        }

        .type_div {
            width: 100%;
            background-color: yellowgreen;
            color: white;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            border-radius: 10px;
            padding: 10px 10px !important;
            box-sizing: border-box;
            font-size: 16px;
            font-family: sans-serif;
            margin-bottom: 10px !important;
        }

        .price_div {
            display: flex;
            padding: 0px 10px 10px 10px !important;
            box-sizing: border-box;
            justify-content: space-between;
            align-items: center;
            font-family: sans-serif;
            border-bottom: 1px solid rgba(177, 177, 177, 0.678);

            .price {
                padding: 0px !important;
                margin: 0px !important;
            }
        }

        .powerd_div {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 10px 0px 5px 0px !important;
            box-sizing: border-box;
            font-family: sans-serif;
            font-size: 14px;

            .image {
                width: 30px;
            }
        }
    }
}