@import '../../styles/variable';
@font-face {
   font-family: 'Lato';
   src: url('/fonts/Lato-Regular.ttf') format('truetype');
   font-weight: 400;
   font-style: normal;
}
@font-face {
   font-family: 'LatoBold';
   src: url('/fonts/Lato-Bold.ttf') format('truetype');
   font-weight: 400;
   font-style: normal;
}
.about_main {
    width: 100%;
    max-width: 1000px;
    margin:40px  auto;
    background: white;
    height: auto;
    display: flex;
    padding: 0px 0px 0px 0px !important;
    justify-content: center;
    align-items: start;
    box-shadow: 0 .5rem 1rem rgba(0 , 0 , 0 , .15) !important;
    @media (max-width:768px) {
        height: auto !important;
        padding: 0px 0px 20px 0px !important;
        box-shadow: none !important;
        margin: 10px auto !important;
    }
        .aboutus {
            @media (max-width:768px) {
                margin: 0px 10px 0px 10px !important;
                box-shadow: 0 .5rem 1rem rgb(0, 0, 0 ,.15) !important;
            }
            .abutus_heading {
                font-size: 25px;
                 letter-spacing: 1px;
                font-family: 'LatoBold';
                margin: 20px 0px 0px 0px !important;
                box-sizing: border-box;
                text-align: center;
                color: $primary_two;
                font-weight: bolder;
                cursor: default;
                @media (max-width:768px) {
                    font-size: 20px;
                }
            }

            .about_text {
                text-align: left;
                padding: 0px 20px !important;
                box-sizing: border-box;
                .blog_content {
                    font-family: 'Lato';
                   color: #3c3c3c;
                }

            }
        }
    }