@font-face {
    font-family: 'Lato';
    src: url('/fonts/Lato-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'LatoBold';
    src: url('/fonts/Lato-Bold.ttf') format('truetype');
    font-weight: 400; 
    font-style: normal;
}

.brandsmain {
    padding: 10px 10px 5px 10px !important;
    // background: rgb(158, 2, 2);
    box-sizing: border-box;
    // border: 1px solid #b2b1b1ce;
    border-radius: 10px;
    width: 100%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    // max-width: 250px;
    box-shadow: 0 0.5rem 1rem rgba(92, 92, 92, 0.15) !important;

    .container {
        display: flex;
        flex-direction: column;
        // border: 1px solid #eee;
        align-items: center;
        border-radius: 10px;
        // background-color: green;
    }

    .cards_main {
        border-radius: 10px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        width: 100%;
        max-width: 100%;
    }

    .card {
        background: #fff;
        border: 1px solid #eee;
        // padding: 12px 8px;
        text-decoration: none;
        text-align: center;
        cursor: pointer;


        .card_img {
            max-width: 60px;
            max-height: auto;
            margin: 0 auto 8px;
            object-fit: contain;
            display: block;
        }

        .name {
            font-size: 12px;
            font-weight: 600;
            color: #707070;
            font-family: 'LatoBold';
            text-transform: capitalize;
            letter-spacing: 0.5px;
            margin-top: 3px;
            margin-bottom: 5px;
            text-decoration: none;
        }
    }

    .card:nth-child(1) {
        border-top-left-radius: 10px;
    }

    .card:nth-child(3) {
        border-top-right-radius: 10px;
    }

    .card:nth-child(4) {
        border-bottom-left-radius: 10px;
    }

    .card:nth-child(6) {
        border-bottom-right-radius: 10px;
    }

    .btn {
        font-size: 14px;
        text-decoration: none;
        letter-spacing: 1px;
        font-family: 'LatoBold', sans-serif;
        padding: 10px 0px !important;
        text-decoration: none !important;
        width: 100%;
        text-align: center;
        transition: color 0.3s ease;

        &:hover {
            text-decoration: underline;
        }
    }
}