@import '../../../ebikeWeb/styles/variable';

.main_sidebar {
    width: 100%;
    max-width: 260px;
    height: auto !important;
    padding: 0px !important;
    position: relative;
    font-family: sans-serif;
    border: none;
    // background-color: #000000 !important;
    margin: 0px !important;
    box-sizing: border-box;
    // color: #e6f5d0;
    // color: #38a9f4;
    // color: #118adb;
    // color: #77b7e2;

    .list {
        position: sticky ;
        top: 0px;
    height: 100vh;
    }

    .image_box {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #3498db;
        box-sizing: border-box;
        padding: 8px 0px !important;

        .admin_box {
            margin: 0px;
            padding: 5px 0px 0px 0px !important;
            color: white;
            font-weight: bolder;
            font-size: 20px;
        }

        .image {
            width: 120px;
        }
    }
}
// .list{
//     position: sticky !important;
//     top: 0px;
//     height: 100vh;
// }