.header {
    width: 100%  !important;
    display: flex;
    font-family: sans-serif;
    flex-direction: row;
    margin: 0px 0px 20px !important;
    position: relative;
    padding: 14px 10px !important;
    box-sizing: border-box;
    justify-content: center;
    background-color: whitesmoke;
    // box-shadow: 7px 5px 10px rgba(142, 142, 142, 0.659);
    box-shadow: 0px 4px 6px -5px rgba(142, 142, 142, 0.659);
    
    .wraper {
        display: flex;
        width: 100%;
        justify-content: space-between;
        padding: 0px 15px;
        box-sizing: border-box;

        .input_box {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            box-sizing: border-box;
            max-width: 400px;
            height: 40px;
            .input {
                border: 1px solid #75757593;
                box-sizing: border-box;
                background-color: transparent;
                border-radius: 3px;
                width: 100%;
                padding: 0px 0px 0px 10px;
                height: 100%;
                font-size: 18px;
                outline: none;
            }
        }
        .btn_box{
            display: flex;
            flex-direction: row;
            column-gap: 15px;
        .ebiker_box {
            border: 1px solid yellowgreen;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0px;
            column-gap: 3px;
            color: yellowgreen;
            padding: 6px 12px !important;
            background-color: #dcf3bb;
            border-radius: 5px;
            font-weight: bold;
            // color: white;


            .ebiker_heading {
                margin: 0px;
                border-radius: 5px;
                font-size: 16px;
            }
        }

        .logout {
            border: none !important;
            outline: none;
            background-color: #197;
            color: white;
            border-radius: 5px;
            font-weight: bold;
            padding: 6px 12px !important;
            cursor: pointer;
            &:hover{
                opacity: 0.9;
            }
        }}
    }
}