@font-face {
    font-family: 'Lato';
    src: url('/fonts/Lato-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'LatoBold';
    src: url('/fonts/Lato-Bold.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

.new_bike_main{
    // border: 1px solid #000;
      // border: 1px solid #b2b1b1ce;
    border-radius: 10px;
    // background: rgba(245, 245, 245, 0.763);
    box-sizing: border-box;
    padding: 10px 0px 10px 0px !important;
    width: 100%;
    max-width: 280px;
    margin: 5px auto;
    // box-shadow: 0 0.5rem 1rem rgba(58, 57, 57, 0.15) !important;


    .heading {
        color: #4e4e4e;
        font-family: 'Lato';
        font-size: 18px;
        text-align: center;
        font-weight: bold;
        margin: 0px !important;
        box-sizing: border-box;
        padding: 0px 0px -10px 0px !important ;
        letter-spacing: 2px;
    }
}