.card_main {
    height: auto;
    text-align: left;
    padding: 10px;

    .heading {
        font-size: 16px;
        color: black;
        text-align: left;
        h4 {
            margin-top: 0px;
            margin-bottom: 0px;
        }
    }

    .card_text {
        width: 100%;
        padding: 20px 0px;

        .information {
            font-size: 12px;
            color: grey;
            padding: 5px;
        }

        ._btn {
            color: white;
            // box-shadow: 0px 0px 5px black;
            font-size: 11px;
            padding: 7px 7px;
            background-color: #1976d2;
            border: none;
            border-radius: 5px;
        }
    }

    @media screen and (max-width:600px) {
        .heading {
            font-size: 16px;
        }

        .card_text {
            .information {
                font-size: 12px;
            }
        }

        .btn {
            font-size: 12;
        }
    }
}