.swiper_card_conatainer {
    padding: 10px 0px;
    .swiper {
        display: flex;
        justify-content: center;
        gap: 60px;
        flex-direction: row;

        .slider_card{
            display: flex;
            justify-content: center;
        }
    }
}

