.swiper_card_container {
    width: 100%;
    padding: 20px 0px;
    .swiper {
        display: flex;
        justify-content: center;
        flex-direction: row;
        gap: 10px;
        .slider_card{
            display: flex;
            justify-content: center;
        }
    }
}

