.profile_main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 10px;

    .profile_container {
        width: 100%;
        padding: 0px;
        display: flex;
        justify-content: center;
        align-items: center;

        .profile_form {
            padding: 15px 10px;
            border-radius: 5px;
            width: 285px;
            box-shadow: 0px 0px 5px grey;
            .heading_box{
                margin: auto;
                text-align: center;
            }
            .profile_heading {
                font-size: 18px;
                font-weight: bolder;
                text-align: center;
                margin-bottom: 15px;
                padding: 10px 0px;
                color: navy;
                border-bottom: 2px solid navy;
            }

            .profile_field {
                margin: 5px 0px;
            }

            .button {
                font-size: 12px;
                margin-top: 5px;
                font-weight: bolder;
                text-align: center;
                color: white;
                background-color: #1976d2;
                cursor: pointer;
            }
        }
    }
}