@import '../../styles/variable';
.login_btn {
    display: flex;
    align-items: center;
    font-size: 10px;
    margin-right: 15px;
    cursor: pointer;
    .icons {
        font-size: 25px;
        margin: 0px 5px;
        color: rgb(71, 70, 70);
        cursor: pointer;
    }
}
.drawerfont{
    font-size: 10x;
}
.header_main {
    width: 100%;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px rgb(221, 220, 220);
    height: 45px;
    
    .logo_side {
        display: flex;
        justify-content: center;
        align-items: center;

        .menu_button {
            color: grey;
        }

        .logo {
            width: 100px;
            .logo_image {
                cursor: pointer;
                width: 100%;
            }
        }
    }
}
.listText{
    font-size: 13px;
}
.downloadapp{
    font-size: 12px !important;
    font-weight: normal !important;
    font-style: italic;
    padding: 20px 10px;
    font-style: italic;
    background: whitesmoke;
        .download_image {
            margin: 20px 0px 10px 0px;
            cursor: pointer;
        }
    }
.header_btn_sec {
    display: flex;
    align-items: center;
    align-items: center;
}    

.sell_bike_btn {
    background-color: $primary_two;
    font-size: 11px;
    padding: 5px 7px;
    border: none;
    border-radius: 5px;
    color: white;
    display: block;
    height: 25px;
    margin-right: 10px;
    cursor: pointer;
}

.logout_btn {
    font-size: 12px;
    cursor: pointer;
    margin-right: 20px;
    font-family: sans-serif;
}