@import '../../styles/variable';

@font-face {
    font-family: 'LatoBold';
    src: url('/fonts/Lato-Bold.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('/fonts/Lato-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}


.login_btn {
    display: flex;
    align-items: center;
    font-size: 10px;
    margin-right: 15px;
    cursor: pointer;

    .icons {
        font-size: 25px;
        margin: 0px 5px;
        color: rgb(71, 70, 70);
        cursor: pointer;
    }
}

.drawerfont {
    font-size: 10x;
}

.header_main {
    width: 100%;
    box-sizing: border-box;
    // display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px rgb(221, 220, 220);
    height: auto;

    .logo_side {
        display: flex;
        justify-content: center;
        align-items: center;

        .menu_button {
            color: grey;
        }

        .logo {
            height: 100%;
            width: 100px;
            display: flex;
            justify-content: center;
            align-items: center;

            .logo_image {
                cursor: pointer;
                width: 100%;
            }
        }
    }
}

.listText {
    font-size: 13px;
}

.downloadapp {
    font-size: 12px !important;
    font-weight: normal !important;
    font-style: italic;
    padding: 10px 10px;
    font-style: italic;
    background: whitesmoke;

    .download_image {
        margin: 20px 0px 10px 0px;
        cursor: pointer;
    }
}

.header_btn_sec {
    display: flex;
    align-items: center;
    align-items: center;
}

.sell_bike_btn {
    background-color: $primary_two;
    font-size: 11px;
    padding: 5px 7px;
    border: none;
    border-radius: 5px;
    color: white;
    display: block;
    height: 25px;
    margin-right: 10px;
    cursor: pointer;
}

.logout_btn {
    font-size: 12px;
    cursor: pointer;
    margin-right: 20px;
    font-family: sans-serif;
}

.anchor {
    text-decoration: none !important;
    color: black;
}

.header_main_used_bike {
    width: 100%;
    box-sizing: border-box;
    // display: flex;
    justify-content: space-between;
    align-items: center !important;
    position: relative;
    background-color: white;
    border-bottom: solid 1px rgb(221, 220, 220);
    height: auto;

    .logo_side {
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;

        .menu_button {
            color: grey;
        }

        .logo {
            width: 100px;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            .logo_image {
                cursor: pointer;
                box-sizing: border-box;
                width: 100%;
            }
        }
    }

    @media (max-width:910px) {
        position: sticky;
        background-color: white;
        top: 0px;
        z-index: 10;
    }
}

.search_box,
.search_box_inner {
    align-items: center;
    background: #fff;
    border: 1px solid #1976d2;
    // border-radius: 8px;
    height: 38px;
    box-sizing: border-box;
    overflow: hidden;
    width: 100%;
    max-width: 240px;
    // box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    padding-bottom: 0px;


    .search_input {
        border: none;
        width: 100%;
        outline: none;
        font-size: 14px;
        box-sizing: border-box;
        height: 100%;
        padding: 6px 10px;
    }

    .search_btn {
        background-color: #1976d2;
        color: white;
        border: none;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        padding: 0px 10px !important;
        // font-weight: 500;
        transition: all 1s ease;
    }

    .search_btn:hover {
        background-color: #1976d2;
    }
}

.drawer_main {
    padding: 20px 0px !important;
    color: black;

    .searc_drawer {
        margin: 15px 0px 10px 0px;
        padding: 0px 20px !important;
        box-sizing: border-box;
    }
}

.search_box {
    display: flex;

    @media (max-width:768px) {
        display: none;
    }
}

.search_box_inner {
    display: none;

    @media (max-width:768px) {
        display: flex;
        margin: auto;
    }
}