.blog_main {
   width: 100%;
   padding: 50px 0px;

   .blog_container {
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding: 10px;
      border: 1px solid #ec3030;

      .blog_grid {
         width: 100%;
         display: flex;
         justify-content: space-between;
         border: 1px solid #000;
         flex-direction: row;
         align-items: center;

         @media (max-width:768px) {
            display: flex;
            flex-direction: column; // This keeps it in row for two columns
            flex-wrap: wrap; // Enables wrapping of items to the next line
            background: red;
         }

         .blog_grid1{
            border: 1px solid #000;
         }
         .blog_grid2{
            border: 1px solid #000;
         }
      }
   }
}