.brand_main{
    width: 100%;
    height: auto;
    padding: 20px 0px;
    .heading{
        font-size: 20px;
        font-weight: 700;
        color: black;
        padding: 10px 0px;
    }

    .brand_container{
        border: 1px solid #000;
        padding: 10px 0px;
        margin:  0px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        // flex-direction: column;
        flex-wrap: wrap;

        .brand_image_box{
            width: 200px;
            border: 1px solid #000;
            padding: 10px;
        }
    }
}