.main{
    width: 100%;
    height: 57vh;
    background: url('https://res.cloudinary.com/dulfy2uxn/image/upload/q_32/v1607929079/Youtube%20Ad%20banners/Banner_1_q4beqb.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.search{
    width: 365px;
    position: absolute;
    left: 60%;
    top: 30px;
}
.btn:focus{
    color: green;
    font-size: 20px;
    .main{
        width: 100%;
        height: 60vh;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        // background: url(./Images/BSAgold.jpeg);
    }
}

@media screen and (max-width:1000px) {
    .search{
        display: none;
    }
}