.main{
    width: 100%;
    padding: 0px !important;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.card_section{
       width: 100%;
        box-sizing: border-box;
        max-width: 800px;
        margin: auto;
        display: flex;
        flex-direction: column;
}