.main {
    width: 100%;
    padding: 10px 0px;
    box-sizing: border-box;

    .card_container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 10px;
        row-gap: 15px;
        box-sizing: border-box;

        .card_main {
            width: 270px;
            border-radius: 8px;
            padding: 0px !important;
            border: 1px solid #828181a3;
            display: flex;
            flex-direction: column;
            transition: all 0.5s ease;

            &:hover{
                box-shadow: 0px 0px 10px #aaaaaa85;
            }

            // align-items: flex-start;
            // justify-content: flex-start;
            .header {
                box-sizing: border-box;
                padding: 0px !important;
                width: 100%;

                .title {
                    width: 100%;
                    border-top-left-radius: 8px;
                    border-top-right-radius: 8px;
                    box-sizing: border-box;
                    padding: 10px 5px !important;
                    font-size: 14px;
                    margin: 0px !important;
                    color: black;
                    text-align: center;
                    background: whitesmoke;
                }
            }

            .body {
                padding: 10px !important;
                box-sizing: border-box;
                display: flex;
                flex-direction: column;
                row-gap: 5px;

                .text {
                    padding: 0px !important;
                    margin: 0px 0px 2px 0px !important;
                    font-size: 13px;
                    color: #181818;
                }
            }

            .user_info {
                padding: 0px 0px !important;
                box-sizing: border-box;
                display: flex;
                flex-direction: column;
                row-gap: 7px;

                .heading {
                    background: #f3f3f3;
                    padding: 5px !important;
                    margin: 0px 0px 5px 0px !important;
                    color: #181818;
                    text-align: center;
                    font-size: 14px;
                    font-weight: bold;
                }

                .text {
                    padding: 0px 10px !important;
                    margin: 0px 0px 2px 0px !important;
                    font-size: 13px;
                    color: #181818;;
                }
            }

            .action {
                padding: 15px 10px 10px 10px !important;
                box-sizing: border-box;
                display: flex;
                flex-direction: column;
                row-gap: 7px;
                .btn {
                    width: 100%;
                    padding: 7px 0px !important;
                    // background: #3498db;
                    color: white;
                    border: none;
                    border-radius: 4px;
                    cursor: pointer;
                    font-size: 14px;
                    &:hover{
                        opacity: 0.9;
                    }
                }
            }
        }
    }
    .used_bike_list_pagination{
        margin-top: 20px;
        display: flex;
        justify-content: center;
    }
}