.itemCard{
        background: rgb(223, 221, 221);
        width: 230px;
        border: 1px solid whitesmoke;
        border-radius: 0px;
        .card_img{
                width: 100%;
                height: auto;
                border-radius: 0px;
        }
}