@import '../../Shopstyles/variable';

.headers_main {
  width: 100%;
  height: auto;
  display: flex;
  background: white;
  box-sizing: border-box;
  justify-content: space-between;
  padding: 5px 10px 5px 10px !important;
  border: 1px solid #dad2d2;
  align-items: center;

  @media (max-width:768px) {
    padding: 2px 10px !important;
    justify-content: space-between;
    flex-direction: row;
  }

  .cart_btn_main {
    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width:768px) {}

    .cart_button {
      color: grey;
      box-sizing: border-box;
      font-size: 17px;
      background-color: transparent;
      padding: 0px !important;
      margin: 0px !important;

      @media (max-width:768px) {}
    }

    .menu_button {
      color: grey;
      background-color: transparent;
      padding: 0px !important;
      margin: 0px !important;
      font-size: 19px;
      width: 10px !important;

      .menu_icon {
        padding: 0px;
        margin: 0px;
      }

      @media (max-width:768px) {
        width: 10px !important;
      }
    }
  }

}

.inputWrapper {
  width: 100%;
  padding: 0px 0px 0px 0px  !important;
  max-width: 300px;
  overflow: hidden;
  height: 35px;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width:768px) {
    margin-left: 0px;
    max-width: 200px;
  }
}


.input {
  width: 100%;
  padding: 5px 40px 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  border: none;
  outline: none !important;
}

.searchIcon {
  color: gray;
  cursor: pointer;
  height: 100%;
  transition: all 0.3s ease;
  padding: 0px 10px 0px 10px;
  &:hover {
    color: black;
    background-color: whitesmoke;
  }
}

.Link {
  color: black !important;
}