.bike_sec_main{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
}
.carousel{
    padding: 10px;
    display: flex;
    justify-content: space-between;
}